# JupyterLab Bağlantı Ayarları

In [ ]:
%%!
pip install --trusted-host pypi.org ipython-sql

In [2]:
%load_ext sql

In [3]:
%sql sqlite:///vbo.db

'Connected: @vbo.db'

In [4]:
%%sql
SELECT *

 * sqlite:///vbo.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT * FROM Customers LIMIT 3;]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [ ]:
#evet baglanti ayarlari ve ilk sorgumuzu gerceklestirmiş olduk 
#şimdi SQL komutlarına geçmeden önce bazı ile ilgili birkaç bilmemiz gereken konu olacak.
#onlara değindikten sonra select, where, join işlemleri gibi işlemleri detaylandıracağız.
#diğer bölümde görüşmek üzere.

# Manuel Tablo Oluşturma İşlemleri

In [39]:
#veri tabaninda bizim csv ler ile ekleedigimiz tablolar var. 
#bir de kendimiz tablo olusturmak istedigimizi dusunelim.
#bir basit tablonun nasıl olusturulacagini ele alalim:

In [45]:
%%sql 
create table cartoon(firstname varchar(20),
                     lastname varchar(20));

   sqlite://
 * sqlite:///vbo.db
Done.

[]

In [ ]:
#su an bir tablo olustu. Şimdi DB browser üzerinde nasıl bir değşiklik gerçekleştiğini gözlemleyelim.

In [ ]:
#tablo olustu fakat gorulmus olacagi üzere boştu şimdi önce bir select sorgulaması yapıp bu boş olma durumunu
#gozlemleyelim

In [66]:
%%sql 
select * from cartoon;

   sqlite://
 * sqlite:///vbo.db
Done.

[('Ali', 'UzayaGit'),
 ('Işıl', 'Süte_Devam'),
 ('Işıl', 'Süte_Devam'),
 ('Ali', 'Uzaya_Git')]

In [ ]:
#firstname ve lastname geldi fakat gozlem olmadigi icin bos gozukuyor.
#simdi bir isim soy isim ekleyelim:

In [65]:
%%sql 
insert into cartoon values('Ali','Uzaya_Git');

   sqlite://
 * sqlite:///vbo.db
1 rows affected.

[]

In [ ]:
#yaptigimiz islemi gözlemleyelim:

In [64]:
%%sql 
select * from cartoon;

   sqlite://
 * sqlite:///vbo.db
Done.

[('Ali', 'UzayaGit'), ('Işıl', 'Süte_Devam'), ('Işıl', 'Süte_Devam')]

In [ ]:
#bir gözlem daha ekleyelim:

In [62]:
%%sql 
insert into cartoon values('Işıl','Süte_Devam');

   sqlite://
 * sqlite:///vbo.db
1 rows affected.

[]

In [63]:
%%sql 
select * from cartoon;

   sqlite://
 * sqlite:///vbo.db
Done.

[('Ali', 'UzayaGit'), ('Işıl', 'Süte_Devam'), ('Işıl', 'Süte_Devam')]

# SELECT İşlemleri

# Veri Tabanındaki Tablo İsimlerine Erişmek

In [161]:
%sql select name from sqlite_master WHERE type='table';

   sqlite://
 * sqlite:///vbo.db
Done.

[('Categories',),
 ('Customers',),
 ('Employees',),
 ('OrderDetails',),
 ('Orders',),
 ('Products',),
 ('Shippers',),
 ('Suppliers',),
 ('cartoon',)]

In [55]:
#önemli not: bu sqlite'a özel bir işlem. Normalde sql de show tables komutu kullanılır. 
#SQL dilinin genel yapısı tüm veri tabanı yönetim sistemlerinde birbirine çok benzerdir bazı ufak noktalarda
#farkkılaşmaktadır bu noktada mesela onlardan birisidir. 
#Altını tekrar çiziyorum sadece ufak farklılıklar vardır ve genel olarak herhangi bir veri tabanı
#yönetim sistemi içerisinde sql dilimni öğrenebilirseniz bu durumda hepsini çok rahatça kavrayabilirsiniz.

## Bir Tablodaki Değişken İsimlerine Erişmek

In [69]:
%sql select * from Customers where 1=0;

   sqlite://
 * sqlite:///vbo.db
Done.

[]

## Tüm Veriye Erişmek

In [70]:
%sql select * from Customers;

   sqlite://
 * sqlite:///vbo.db
Done.

[(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany'),
 (2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '5021', 'Mexico'),
 (3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '5023', 'Mexico'),
 (4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK'),
 (5, 'Berglunds snabbköp', 'Christina Berglund', 'Berguvsvägen 8', 'Luleå', 'S-958 22', 'Sweden'),
 (6, 'Blauer See Delikatessen', 'Hanna Moos', 'Forsterstr. 57', 'Mannheim', '68306', 'Germany'),
 (7, 'Blondel père et fils', 'Frédérique Citeaux', '24, place Kléber', 'Strasbourg', '67000', 'France'),
 (8, 'Bólido Comidas preparadas', 'Martín Sommer', 'C/ Araquil, 67', 'Madrid', '28023', 'Spain'),
 (9, "Bon app'", 'Laurence Lebihans', '12, rue des Bouchers', 'Marseille', '13008', 'France'),
 (10, 'Bottom-Dollar Marketse', 'Elizabeth Lincoln', '23 Tsawassen Blvd.', 'Tsawassen', 'T2F 8M4', 'Canada'),
 (11, "B's Beverages", 'Victoria Ashworth', 'Fauntleroy Circus', 'London', 'EC2 5NT', 'UK'),
 (12, 'Cactus Comidas para llevar', 'Patricio Simpson', 'Cerrito 333', 'Buenos Aires', '1010', 'Argentina'),
 (13, 'Centro comercial Moctezuma', 'Francisco Chang', 'Sierras de Granada 9993', 'México D.F.', '5022', 'Mexico'),
 (14, 'Chop-suey Chinese', 'Yang Wang', 'Hauptstr. 29', 'Bern', '3012', 'Switzerland'),
 (15, 'Comércio Mineiro', 'Pedro Afonso', 'Av. dos Lusíadas, 23', 'São Paulo', '05432-043', 'Brazil'),
 (16, 'Consolidated Holdings', 'Elizabeth Brown', 'Berkeley Gardens 12 Brewery', 'London', 'WX1 6LT', 'UK'),
 (17, 'Drachenblut Delikatessend', 'Sven Ottlieb', 'Walserweg 21', 'Aachen', '52066', 'Germany'),
 (18, 'Du monde entier', 'Janine Labrune', '67, rue des Cinquante Otages', 'Nantes', '44000', 'France'),
 (19, 'Eastern Connection', 'Ann Devon', '35 King George', 'London', 'WX3 6FW', 'UK'),
 (20, 'Ernst Handel', 'Roland Mendel', 'Kirchgasse 6', 'Graz', '8010', 'Austria'),
 (21, 'Familia Arquibaldo', 'Aria Cruz', 'Rua Orós, 92', 'São Paulo', '05442-030', 'Brazil'),
 (22, 'FISSA Fabrica Inter. Salchichas S.A.', 'Diego Roel', 'C/ Moralzarzal, 86', 'Madrid', '28034', 'Spain'),
 (23, 'Folies gourmandes', 'Martine Rancé', '184, chaussée de Tournai', 'Lille', '59000', 'France'),
 (24, 'Folk och fä HB', 'Maria Larsson', 'Åkergatan 24', 'Bräcke', 'S-844 67', 'Sweden'),
 (25, 'Frankenversand', 'Peter Franken', 'Berliner Platz 43', 'München', '80805', 'Germany'),
 (26, 'France restauration', 'Carine Schmitt', '54, rue Royale', 'Nantes', '44000', 'France'),
 (27, 'Franchi S.p.A.', 'Paolo Accorti', 'Via Monte Bianco 34', 'Torino', '10100', 'Italy'),
 (28, 'Furia Bacalhau e Frutos do Mar', 'Lino Rodriguez', 'Jardim das rosas n. 32', 'Lisboa', '1675', 'Portugal'),
 (29, 'Galería del gastrónomo', 'Eduardo Saavedra', 'Rambla de Cataluña, 23', 'Barcelona', '8022', 'Spain'),
 (30, 'Godos Cocina Típica', 'José Pedro Freyre', 'C/ Romero, 33', 'Sevilla', '41101', 'Spain'),
 (31, 'Gourmet Lanchonetes', 'André Fonseca', 'Av. Brasil, 442', 'Campinas', '04876-786', 'Brazil'),
 (32, 'Great Lakes Food Market', 'Howard Snyder', '2732 Baker Blvd.', 'Eugene', '97403', 'USA'),
 (33, 'GROSELLA-Restaurante', 'Manuel Pereira', '5ª Ave. Los Palos Grandes', 'Caracas', '1081', 'Venezuela'),
 (34, 'Hanari Carnes', 'Mario Pontes', 'Rua do Paço, 67', 'Rio de Janeiro', '05454-876', 'Brazil'),
 (35, 'HILARIÓN-Abastos', 'Carlos Hernández', 'Carrera 22 con Ave. Carlos Soublette #8-35', 'San Cristóbal', '5022', 'Venezuela'),
 (36, 'Hungry Coyote Import Store', 'Yoshi Latimer', 'City Center Plaza 516 Main St.', 'Elgin', '97827', 'USA'),
 (37, 'Hungry Owl All-Night Grocers', 'Patricia McKenna', '8 Johnstown Road', 'Cork', None, 'Ireland'),
 (38, 'Island Trading', 'Helen Bennett', 'Garden House Crowther Way', 'Cowes', 'PO31 7PJ', 'UK'),
 (39, 'Königlich Essen', 'Philip Cramer', 'Maubelstr. 90', 'Brandenburg', '14776', 'Germany'),
 (40, "La corne d'abondance", 'Daniel Tonini', "67, avenue de l'Europe", 'Versailles', '78000', 'France'),
 (41, "La maison d'Asie", 'Annette Roulet', '1 rue Alsace-Lorraine', 'Toulouse', '31000', 'France'),
 (42, 'Laughing Bacchus Wine Cellars', 'Yoshi Tannamuri', '1900 Oak St.', 'Vancouver', 'V3F 2K1', 'Canada'),
 (43, 'Lazy K Kountry Store', 'John Steel', '12 Orchestra Terrace', 'Walla Walla', '99362', 'USA'),
 (44, 'Lehmanns Marktstand', 'Renate Messner', 'Magazinweg 7', 'Frankfurt a.M.', '60528', 'Germany'),
 (45, "Let's Stop N Shop", 'Jaime Yorres', '87 Polk St. Suite 5', 'San Francisco', '94117', 'USA'),
 (46, 'LILA-Supermercado', 'Carlos González', 'Carrera 52 con Ave. Bolívar #65-98 Llano Largo', 'Barquisimeto', '3508', 'Venezuela'),
 (47, 'LINO-Delicateses', 'Felipe Izquierdo', 'Ave. 5 de Mayo Porlamar', 'I. de Margarita', '4980', 'Venezuela'),
 (48, 'Lonesome Pine Restaurant', 'Fran Wilson', '89 Chiaroscuro Rd.', 'Portland', '97219', 'USA'),
 (49, 'Magazzini Alimentari Riuniti', 'Giovanni Rovelli', 'Via Ludovico il Moro 22', 'Bergamo', '24100', 'Italy'),
 (50, 'Maison Dewey', 'Catherine Dewey', 'Rue Joseph-Bens 532', 'Bruxelles', 'B-1180', 'Belgium'),
 (51, 'Mère Paillarde', 'Jean Fresnière', '43 rue St. Laurent', 'Montréal', 'H1J 1C3', 'Canada'),
 (52, 'Morgenstern Gesundkost', 'Alexander Feuer', 'Heerstr. 22', 'Leipzig', '4179', 'Germany'),
 (53, 'North/South', 'Simon Crowther', 'South House 300 Queensbridge', 'London', 'SW7 1RZ', 'UK'),
 (54, 'Océano Atlántico Ltda.', 'Yvonne Moncada', 'Ing. Gustavo Moncada 8585 Piso 20-A', 'Buenos Aires', '1010', 'Argentina'),
 (55, 'Old World Delicatessen', 'Rene Phillips', '2743 Bering St.', 'Anchorage', '99508', 'USA'),
 (56, 'Ottilies Käseladen', 'Henriette Pfalzheim', 'Mehrheimerstr. 369', 'Köln', '50739', 'Germany'),
 (57, 'Paris spécialités', 'Marie Bertrand', '265, boulevard Charonne', 'Paris', '75012', 'France'),
 (58, 'Pericles Comidas clásicas', 'Guillermo Fernández', 'Calle Dr. Jorge Cash 321', 'México D.F.', '5033', 'Mexico'),
 (59, 'Piccolo und mehr', 'Georg Pipps', 'Geislweg 14', 'Salzburg', '5020', 'Austria'),
 (60, 'Princesa Isabel Vinhoss', 'Isabel de Castro', 'Estrada da saúde n. 58', 'Lisboa', '1756', 'Portugal'),
 (61, 'Que Delícia', 'Bernardo Batista', 'Rua da Panificadora, 12', 'Rio de Janeiro', '02389-673', 'Brazil'),
 (62, 'Queen Cozinha', 'Lúcia Carvalho', 'Alameda dos Canàrios, 891', 'São Paulo', '05487-020', 'Brazil'),
 (63, 'QUICK-Stop', 'Horst Kloss', 'Taucherstraße 10', 'Cunewalde', '1307', 'Germany'),
 (64, 'Rancho grande', 'Sergio Gutiérrez', 'Av. del Libertador 900', 'Buenos Aires', '1010', 'Argentina'),
 (65, 'Rattlesnake Canyon Grocery', 'Paula Wilson', '2817 Milton Dr.', 'Albuquerque', '87110', 'USA'),
 (66, 'Reggiani Caseifici', 'Maurizio Moroni', 'Strada Provinciale 124', 'Reggio Emilia', '42100', 'Italy'),
 (67, 'Ricardo Adocicados', 'Janete Limeira', 'Av. Copacabana, 267', 'Rio de Janeiro', '02389-890', 'Brazil'),
 (68, 'Richter Supermarkt', 'Michael Holz', 'Grenzacherweg 237', 'Genève', '1203', 'Switzerland'),
 (69, 'Romero y tomillo', 'Alejandra Camino', 'Gran Vía, 1', 'Madrid', '28001', 'Spain'),
 (70, 'Santé Gourmet', 'Jonas Bergulfsen', 'Erling Skakkes gate 78', 'Stavern', '4110', 'Norway'),
 (71, 'Save-a-lot Markets', 'Jose Pavarotti', '187 Suffolk Ln.', 'Boise', '83720', 'USA'),
 (72, 'Seven Seas Imports', 'Hari Kumar', '90 Wadhurst Rd.', 'London', 'OX15 4NB', 'UK'),
 (73, 'Simons bistro', 'Jytte Petersen', 'Vinbæltet 34', 'København', '1734', 'Denmark'),
 (74, 'Spécialités du monde', 'Dominique Perrier', '25, rue Lauriston', 'Paris', '75016', 'France'),
 (75, 'Split Rail Beer & Ale', 'Art Braunschweiger', 'P.O. Box 555', 'Lander', '82520', 'USA'),
 (76, 'Suprêmes délices', 'Pascale Cartrain', 'Boulevard Tirou, 255', 'Charleroi', 'B-6000', 'Belgium'),
 (77, 'The Big Cheese', 'Liz Nixon', '89 Jefferson Way Suite 2', 'Portland', '97201', 'USA'),
 (78, 'The Cracker Box', 'Liu Wong', '55 Grizzly Peak Rd.', 'Butte', '59801', 'USA'),
 (79, 'Toms Spezialitäten', 'Karin Josephs', 'Luisenstr. 48', 'Münster', '44087', 'Germany'),
 (80, 'Tortuga Restaurante', 'Miguel Angel Paolino', 'Avda. Azteca 123', 'México D.F.', '5033', 'Mexico'),
 (81, 'Tradição Hipermercados', 'Anabela Domingues', 'Av. Inês de Castro, 414', 'São Paulo', '05634-030', 'Brazil'),
 (82, "Trail's Head Gourmet Provisioners", 'Helvetius Nagy', '722 DaVinci Blvd.', 'Kirkland', '98034', 'USA'),
 (83, 'Vaffeljernet', 'Palle Ibsen', 'Smagsløget 45', 'Århus', '8200', 'Denmark'),
 (84, 'Victuailles en stock', 'Mary Saveley', '2, rue du Commerce', 'Lyon', '69004', 'France'),
 (85, 'Vins et alcools Chevalier', 'Paul Henriot', "59 rue de l'Abbaye", 'Reims', '51100', 'France'),
 (86, 'Die Wandernde Kuh', 'Rita Müller', 'Adenauerallee 900', 'Stuttgart', '70563', 'Germany'),
 (87, 'Wartian Herkku', 'Pirkko Koskitalo', 'Torikatu 38', 'Oulu', '90110', 'Finland'),
 (88, 'Wellington Importadora', 'Paula Parente', 'Rua do Mercado, 12', 'Resende', '08737-363', 'Brazil'),
 (89, 'White Clover Markets', 'Karl Jablonski', '305 - 14th Ave. S. Suite 3B', 'Seattle', '98128', 'USA'),
 (90, 'Wilman Kala', 'Matti Karttunen', 'Keskuskatu 45', 'Helsinki', '21240', 'Finland'),
 (91, 'Wolski', 'Zbyszek', 'ul. Filtrowa 68', 'Walla', '01-012', 'Poland')]

## Değişken Seçmek

In [72]:
%sql select CustomerName, City from Customers limit 10;

   sqlite://
 * sqlite:///vbo.db
Done.

[('Alfreds Futterkiste', 'Berlin'),
 ('Ana Trujillo Emparedados y helados', 'México D.F.'),
 ('Antonio Moreno Taquería', 'México D.F.'),
 ('Around the Horn', 'London'),
 ('Berglunds snabbköp', 'Luleå'),
 ('Blauer See Delikatessen', 'Mannheim'),
 ('Blondel père et fils', 'Strasbourg'),
 ('Bólido Comidas preparadas', 'Madrid'),
 ("Bon app'", 'Marseille'),
 ('Bottom-Dollar Marketse', 'Tsawassen')]

## Matematiksel İşlemler Yapmak

In [ ]:
#Matematiksel işlemler yapabileceğimiz bir değişken içeren tablo bulalım
#products tablosu içerisinde price değişkeni vardı bunu bir gözlemleyelim:

In [74]:
%sql select * from Products where 1=0;

   sqlite://
 * sqlite:///vbo.db
Done.

[]

In [ ]:
#amacımız price değişkeninin karesini almak olsun.
#bu işlemi iç güdüye uygun olacak şekilde gerçekleştirebiliriz:

In [76]:
%sql select Price, Price*2 from Products limit 10;

   sqlite://
 * sqlite:///vbo.db
Done.

[('18', 36),
 ('19', 38),
 ('10', 20),
 ('22', 44),
 ('21.35', 42.7),
 ('25', 50),
 ('30', 60),
 ('40', 80),
 ('97', 194),
 ('31', 62)]

## Değişkenlere Takma İsim Atama / Değişkenleri İsimlendirme (alias)

In [83]:
#Takma isim olarak geçer. Değişken isimlerini kısaltarak daha kolay bir şekilde çalışma imkanı buluruz.

In [87]:
%sql select Price, Price*2 as price_karesi from Products limit 5;

   sqlite://
 * sqlite:///vbo.db
Done.

[('18', 36), ('19', 38), ('10', 20), ('22', 44), ('21.35', 42.7)]

## Count

In [95]:
%sql select count(*) as satir_sayisi from Customers

   sqlite://
 * sqlite:///vbo.db
Done.

[(91,)]

## ORDER BY: Sıralama

In [ ]:
#öncelikle products tablosunu bir inceleylelim:

In [208]:
%sql SELECT * from Products limit 10;

   sqlite://
 * sqlite:///vbo.db
Done.

[(1, 'Chais', 1, 1, '10 boxes x 20 bags', '18'),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', '19'),
 (3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', '10'),
 (4, "Chef Anton's Cajun Seasoning", 2, 2, '48 - 6 oz jars', '22'),
 (5, "Chef Anton's Gumbo Mix", 2, 2, '36 boxes', '21.35'),
 (6, "Grandma's Boysenberry Spread", 3, 2, '12 - 8 oz jars', '25'),
 (7, "Uncle Bob's Organic Dried Pears", 3, 7, '12 - 1 lb pkgs.', '30'),
 (8, 'Northwoods Cranberry Sauce', 3, 2, '12 - 12 oz jars', '40'),
 (9, 'Mishi Kobe Niku', 4, 6, '18 - 500 g pkgs.', '97'),
 (10, 'Ikura', 4, 8, '12 - 200 ml jars', '31')]

In [ ]:
#amacımız buradaki price değişkenine göre 
#bir sıralama işlemi yapmak olduğunda bunu order by ile gerçekleştirebiliyoruz.

In [210]:
%sql SELECT * from Products ORDER BY Price LIMIT 10;

   sqlite://
 * sqlite:///vbo.db
Done.

[(3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', '10'),
 (21, "Sir Rodney's Scones", 8, 3, '24 pkgs. x 4 pieces', '10'),
 (74, 'Longlife Tofu', 4, 7, '5 kg pkg.', '10'),
 (46, 'Spegesild', 21, 8, '4 - 450 g glasses', '12'),
 (68, 'Scottish Longbreads', 8, 3, '10 boxes x 8 pieces', '12'),
 (31, 'Gorgonzola Telino', 14, 4, '12 - 100 g pkgs', '12.May'),
 (29, 'Thüringer Rostbratwurst', 12, 6, '50 bags x 30 sausgs.', '123.79'),
 (77, 'Original Frankfurter grüne Soße', 12, 2, '12 boxes', '13'),
 (58, 'Escargots de Bourgogne', 27, 8, '24 pieces', '13.25'),
 (25, 'NuNuCa Nuß-Nougat-Creme', 11, 3, '20 - 450 g glasses', '14')]

In [ ]:
#siralama artan şekilde oldu bu sıralamayı azalan şekilde yapmak için:

In [212]:
%sql SELECT * from Products ORDER BY Price DESC LIMIT 10;

   sqlite://
 * sqlite:///vbo.db
Done.

[(75, 'Rhönbräu Klosterbier', 12, 1, '24 - 0.5 l bottles', 'Tem.75'),
 (54, 'Tourtière', 25, 6, '16 pies', 'Tem.45'),
 (41, "Jack's New England Clam Chowder", 19, 8, '12 - 12 oz cans', 'Eyl.65'),
 (48, 'Chocolade', 22, 3, '10 pkgs.', 'Ara.75'),
 (9, 'Mishi Kobe Niku', 4, 6, '18 - 500 g pkgs.', '97'),
 (19, 'Teatime Chocolate Biscuits', 8, 3, '10 boxes x 12 pieces', '9.Şub'),
 (45, 'Røgede sild', 21, 8, '1k pkg.', '9.May'),
 (47, 'Zaanse koeken', 22, 3, '10 - 4 oz boxes', '9.May'),
 (23, 'Tunnbröd', 9, 5, '12 - 250 g pkgs.', '9'),
 (20, "Sir Rodney's Marmalade", 8, 3, '30 gift boxes', '81')]

# WHERE İşlemleri

In [ ]:
#Where tablolarda filtreleme işlemleri yapmak için kullanılır. 
#Yani değişkenlerin değerlerine göre gözlemlerle seçim işlemleri yapmak için kullanılır.
#Hemen pekiştirmek adına öncelikle üzerinde çalışağımız tabloyu bir hatıralyalım:

In [105]:
%sql select * from Customers;

   sqlite://
 * sqlite:///vbo.db
Done.

[(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany'),
 (2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '5021', 'Mexico'),
 (3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '5023', 'Mexico'),
 (4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK'),
 (5, 'Berglunds snabbköp', 'Christina Berglund', 'Berguvsvägen 8', 'Luleå', 'S-958 22', 'Sweden'),
 (6, 'Blauer See Delikatessen', 'Hanna Moos', 'Forsterstr. 57', 'Mannheim', '68306', 'Germany'),
 (7, 'Blondel père et fils', 'Frédérique Citeaux', '24, place Kléber', 'Strasbourg', '67000', 'France'),
 (8, 'Bólido Comidas preparadas', 'Martín Sommer', 'C/ Araquil, 67', 'Madrid', '28023', 'Spain'),
 (9, "Bon app'", 'Laurence Lebihans', '12, rue des Bouchers', 'Marseille', '13008', 'France'),
 (10, 'Bottom-Dollar Marketse', 'Elizabeth Lincoln', '23 Tsawassen Blvd.', 'Tsawassen', 'T2F 8M4', 'Canada'),
 (11, "B's Beverages", 'Victoria Ashworth', 'Fauntleroy Circus', 'London', 'EC2 5NT', 'UK'),
 (12, 'Cactus Comidas para llevar', 'Patricio Simpson', 'Cerrito 333', 'Buenos Aires', '1010', 'Argentina'),
 (13, 'Centro comercial Moctezuma', 'Francisco Chang', 'Sierras de Granada 9993', 'México D.F.', '5022', 'Mexico'),
 (14, 'Chop-suey Chinese', 'Yang Wang', 'Hauptstr. 29', 'Bern', '3012', 'Switzerland'),
 (15, 'Comércio Mineiro', 'Pedro Afonso', 'Av. dos Lusíadas, 23', 'São Paulo', '05432-043', 'Brazil'),
 (16, 'Consolidated Holdings', 'Elizabeth Brown', 'Berkeley Gardens 12 Brewery', 'London', 'WX1 6LT', 'UK'),
 (17, 'Drachenblut Delikatessend', 'Sven Ottlieb', 'Walserweg 21', 'Aachen', '52066', 'Germany'),
 (18, 'Du monde entier', 'Janine Labrune', '67, rue des Cinquante Otages', 'Nantes', '44000', 'France'),
 (19, 'Eastern Connection', 'Ann Devon', '35 King George', 'London', 'WX3 6FW', 'UK'),
 (20, 'Ernst Handel', 'Roland Mendel', 'Kirchgasse 6', 'Graz', '8010', 'Austria'),
 (21, 'Familia Arquibaldo', 'Aria Cruz', 'Rua Orós, 92', 'São Paulo', '05442-030', 'Brazil'),
 (22, 'FISSA Fabrica Inter. Salchichas S.A.', 'Diego Roel', 'C/ Moralzarzal, 86', 'Madrid', '28034', 'Spain'),
 (23, 'Folies gourmandes', 'Martine Rancé', '184, chaussée de Tournai', 'Lille', '59000', 'France'),
 (24, 'Folk och fä HB', 'Maria Larsson', 'Åkergatan 24', 'Bräcke', 'S-844 67', 'Sweden'),
 (25, 'Frankenversand', 'Peter Franken', 'Berliner Platz 43', 'München', '80805', 'Germany'),
 (26, 'France restauration', 'Carine Schmitt', '54, rue Royale', 'Nantes', '44000', 'France'),
 (27, 'Franchi S.p.A.', 'Paolo Accorti', 'Via Monte Bianco 34', 'Torino', '10100', 'Italy'),
 (28, 'Furia Bacalhau e Frutos do Mar', 'Lino Rodriguez', 'Jardim das rosas n. 32', 'Lisboa', '1675', 'Portugal'),
 (29, 'Galería del gastrónomo', 'Eduardo Saavedra', 'Rambla de Cataluña, 23', 'Barcelona', '8022', 'Spain'),
 (30, 'Godos Cocina Típica', 'José Pedro Freyre', 'C/ Romero, 33', 'Sevilla', '41101', 'Spain'),
 (31, 'Gourmet Lanchonetes', 'André Fonseca', 'Av. Brasil, 442', 'Campinas', '04876-786', 'Brazil'),
 (32, 'Great Lakes Food Market', 'Howard Snyder', '2732 Baker Blvd.', 'Eugene', '97403', 'USA'),
 (33, 'GROSELLA-Restaurante', 'Manuel Pereira', '5ª Ave. Los Palos Grandes', 'Caracas', '1081', 'Venezuela'),
 (34, 'Hanari Carnes', 'Mario Pontes', 'Rua do Paço, 67', 'Rio de Janeiro', '05454-876', 'Brazil'),
 (35, 'HILARIÓN-Abastos', 'Carlos Hernández', 'Carrera 22 con Ave. Carlos Soublette #8-35', 'San Cristóbal', '5022', 'Venezuela'),
 (36, 'Hungry Coyote Import Store', 'Yoshi Latimer', 'City Center Plaza 516 Main St.', 'Elgin', '97827', 'USA'),
 (37, 'Hungry Owl All-Night Grocers', 'Patricia McKenna', '8 Johnstown Road', 'Cork', None, 'Ireland'),
 (38, 'Island Trading', 'Helen Bennett', 'Garden House Crowther Way', 'Cowes', 'PO31 7PJ', 'UK'),
 (39, 'Königlich Essen', 'Philip Cramer', 'Maubelstr. 90', 'Brandenburg', '14776', 'Germany'),
 (40, "La corne d'abondance", 'Daniel Tonini', "67, avenue de l'Europe", 'Versailles', '78000', 'France'),
 (41, "La maison d'Asie", 'Annette Roulet', '1 rue Alsace-Lorraine', 'Toulouse', '31000', 'France'),
 (42, 'Laughing Bacchus Wine Cellars', 'Yoshi Tannamuri', '1900 Oak St.', 'Vancouver', 'V3F 2K1', 'Canada'),
 (43, 'Lazy K Kountry Store', 'John Steel', '12 Orchestra Terrace', 'Walla Walla', '99362', 'USA'),
 (44, 'Lehmanns Marktstand', 'Renate Messner', 'Magazinweg 7', 'Frankfurt a.M.', '60528', 'Germany'),
 (45, "Let's Stop N Shop", 'Jaime Yorres', '87 Polk St. Suite 5', 'San Francisco', '94117', 'USA'),
 (46, 'LILA-Supermercado', 'Carlos González', 'Carrera 52 con Ave. Bolívar #65-98 Llano Largo', 'Barquisimeto', '3508', 'Venezuela'),
 (47, 'LINO-Delicateses', 'Felipe Izquierdo', 'Ave. 5 de Mayo Porlamar', 'I. de Margarita', '4980', 'Venezuela'),
 (48, 'Lonesome Pine Restaurant', 'Fran Wilson', '89 Chiaroscuro Rd.', 'Portland', '97219', 'USA'),
 (49, 'Magazzini Alimentari Riuniti', 'Giovanni Rovelli', 'Via Ludovico il Moro 22', 'Bergamo', '24100', 'Italy'),
 (50, 'Maison Dewey', 'Catherine Dewey', 'Rue Joseph-Bens 532', 'Bruxelles', 'B-1180', 'Belgium'),
 (51, 'Mère Paillarde', 'Jean Fresnière', '43 rue St. Laurent', 'Montréal', 'H1J 1C3', 'Canada'),
 (52, 'Morgenstern Gesundkost', 'Alexander Feuer', 'Heerstr. 22', 'Leipzig', '4179', 'Germany'),
 (53, 'North/South', 'Simon Crowther', 'South House 300 Queensbridge', 'London', 'SW7 1RZ', 'UK'),
 (54, 'Océano Atlántico Ltda.', 'Yvonne Moncada', 'Ing. Gustavo Moncada 8585 Piso 20-A', 'Buenos Aires', '1010', 'Argentina'),
 (55, 'Old World Delicatessen', 'Rene Phillips', '2743 Bering St.', 'Anchorage', '99508', 'USA'),
 (56, 'Ottilies Käseladen', 'Henriette Pfalzheim', 'Mehrheimerstr. 369', 'Köln', '50739', 'Germany'),
 (57, 'Paris spécialités', 'Marie Bertrand', '265, boulevard Charonne', 'Paris', '75012', 'France'),
 (58, 'Pericles Comidas clásicas', 'Guillermo Fernández', 'Calle Dr. Jorge Cash 321', 'México D.F.', '5033', 'Mexico'),
 (59, 'Piccolo und mehr', 'Georg Pipps', 'Geislweg 14', 'Salzburg', '5020', 'Austria'),
 (60, 'Princesa Isabel Vinhoss', 'Isabel de Castro', 'Estrada da saúde n. 58', 'Lisboa', '1756', 'Portugal'),
 (61, 'Que Delícia', 'Bernardo Batista', 'Rua da Panificadora, 12', 'Rio de Janeiro', '02389-673', 'Brazil'),
 (62, 'Queen Cozinha', 'Lúcia Carvalho', 'Alameda dos Canàrios, 891', 'São Paulo', '05487-020', 'Brazil'),
 (63, 'QUICK-Stop', 'Horst Kloss', 'Taucherstraße 10', 'Cunewalde', '1307', 'Germany'),
 (64, 'Rancho grande', 'Sergio Gutiérrez', 'Av. del Libertador 900', 'Buenos Aires', '1010', 'Argentina'),
 (65, 'Rattlesnake Canyon Grocery', 'Paula Wilson', '2817 Milton Dr.', 'Albuquerque', '87110', 'USA'),
 (66, 'Reggiani Caseifici', 'Maurizio Moroni', 'Strada Provinciale 124', 'Reggio Emilia', '42100', 'Italy'),
 (67, 'Ricardo Adocicados', 'Janete Limeira', 'Av. Copacabana, 267', 'Rio de Janeiro', '02389-890', 'Brazil'),
 (68, 'Richter Supermarkt', 'Michael Holz', 'Grenzacherweg 237', 'Genève', '1203', 'Switzerland'),
 (69, 'Romero y tomillo', 'Alejandra Camino', 'Gran Vía, 1', 'Madrid', '28001', 'Spain'),
 (70, 'Santé Gourmet', 'Jonas Bergulfsen', 'Erling Skakkes gate 78', 'Stavern', '4110', 'Norway'),
 (71, 'Save-a-lot Markets', 'Jose Pavarotti', '187 Suffolk Ln.', 'Boise', '83720', 'USA'),
 (72, 'Seven Seas Imports', 'Hari Kumar', '90 Wadhurst Rd.', 'London', 'OX15 4NB', 'UK'),
 (73, 'Simons bistro', 'Jytte Petersen', 'Vinbæltet 34', 'København', '1734', 'Denmark'),
 (74, 'Spécialités du monde', 'Dominique Perrier', '25, rue Lauriston', 'Paris', '75016', 'France'),
 (75, 'Split Rail Beer & Ale', 'Art Braunschweiger', 'P.O. Box 555', 'Lander', '82520', 'USA'),
 (76, 'Suprêmes délices', 'Pascale Cartrain', 'Boulevard Tirou, 255', 'Charleroi', 'B-6000', 'Belgium'),
 (77, 'The Big Cheese', 'Liz Nixon', '89 Jefferson Way Suite 2', 'Portland', '97201', 'USA'),
 (78, 'The Cracker Box', 'Liu Wong', '55 Grizzly Peak Rd.', 'Butte', '59801', 'USA'),
 (79, 'Toms Spezialitäten', 'Karin Josephs', 'Luisenstr. 48', 'Münster', '44087', 'Germany'),
 (80, 'Tortuga Restaurante', 'Miguel Angel Paolino', 'Avda. Azteca 123', 'México D.F.', '5033', 'Mexico'),
 (81, 'Tradição Hipermercados', 'Anabela Domingues', 'Av. Inês de Castro, 414', 'São Paulo', '05634-030', 'Brazil'),
 (82, "Trail's Head Gourmet Provisioners", 'Helvetius Nagy', '722 DaVinci Blvd.', 'Kirkland', '98034', 'USA'),
 (83, 'Vaffeljernet', 'Palle Ibsen', 'Smagsløget 45', 'Århus', '8200', 'Denmark'),
 (84, 'Victuailles en stock', 'Mary Saveley', '2, rue du Commerce', 'Lyon', '69004', 'France'),
 (85, 'Vins et alcools Chevalier', 'Paul Henriot', "59 rue de l'Abbaye", 'Reims', '51100', 'France'),
 (86, 'Die Wandernde Kuh', 'Rita Müller', 'Adenauerallee 900', 'Stuttgart', '70563', 'Germany'),
 (87, 'Wartian Herkku', 'Pirkko Koskitalo', 'Torikatu 38', 'Oulu', '90110', 'Finland'),
 (88, 'Wellington Importadora', 'Paula Parente', 'Rua do Mercado, 12', 'Resende', '08737-363', 'Brazil'),
 (89, 'White Clover Markets', 'Karl Jablonski', '305 - 14th Ave. S. Suite 3B', 'Seattle', '98128', 'USA'),
 (90, 'Wilman Kala', 'Matti Karttunen', 'Keskuskatu 45', 'Helsinki', '21240', 'Finland'),
 (91, 'Wolski', 'Zbyszek', 'ul. Filtrowa 68', 'Walla', '01-012', 'Poland')]

In [ ]:
#Değişken değerlerine göre gözlemlerde seçim yapmak için dedik.
#Bakın bunlar değişkenler bunlar gözlem birimleri bunlar değişjkenlerind değerleri.
#Örneğin buradaki bir değere göre seçim yapalım ve ne diyelim ülkesi Sweden olanları seçmek istiyoruz diyelim:

## Text/String Seçim İşlemleri

In [100]:
%sql select * from Customers where Country = 'Sweden';
#bazı ortamlarda tek tırnak bazı ortamlarda iki tırnak olarak kullanilabiliyor. Bilginiz olsun.

   sqlite://
 * sqlite:///vbo.db
Done.

[(5, 'Berglunds snabbköp', 'Christina Berglund', 'Berguvsvägen 8', 'Luleå', 'S-958 22', 'Sweden'),
 (24, 'Folk och fä HB', 'Maria Larsson', 'Åkergatan 24', 'Bräcke', 'S-844 67', 'Sweden')]

In [ ]:
#burada kategorik değişkenler yani string değerlerden oluşan değişkenlerdde seçim yapmak için
#tırnak ifadesi kullanılmaktadır. Country değişkeninde seçim yapabilmek adına tırnak ifadeleri içerisinde
#sweden yazmış olduk.

In [ ]:
#Bir örnek daha yapalım ve bu sefer city değişkeninde bir seçim işlemi yapmak isteyelim:

In [101]:
%sql select * from Customers where City = 'Berlin';

   sqlite://
 * sqlite:///vbo.db
Done.

[(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany')]

In [ ]:
#bu secimin tersini yani city'si berlin olmayanları not ifadesi ile seçebiliriz:

In [125]:
%sql select * from Customers where not City = 'Berlin' limit 10;

   sqlite://
 * sqlite:///vbo.db
Done.

[(2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '5021', 'Mexico'),
 (3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '5023', 'Mexico'),
 (4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK'),
 (5, 'Berglunds snabbköp', 'Christina Berglund', 'Berguvsvägen 8', 'Luleå', 'S-958 22', 'Sweden'),
 (6, 'Blauer See Delikatessen', 'Hanna Moos', 'Forsterstr. 57', 'Mannheim', '68306', 'Germany'),
 (7, 'Blondel père et fils', 'Frédérique Citeaux', '24, place Kléber', 'Strasbourg', '67000', 'France'),
 (8, 'Bólido Comidas preparadas', 'Martín Sommer', 'C/ Araquil, 67', 'Madrid', '28023', 'Spain'),
 (9, "Bon app'", 'Laurence Lebihans', '12, rue des Bouchers', 'Marseille', '13008', 'France'),
 (10, 'Bottom-Dollar Marketse', 'Elizabeth Lincoln', '23 Tsawassen Blvd.', 'Tsawassen', 'T2F 8M4', 'Canada'),
 (11, "B's Beverages", 'Victoria Ashworth', 'Fauntleroy Circus', 'London', 'EC2 5NT', 'UK')]

## Numeric/Sayısal Seçim İşlemleri

In [ ]:
#her bir değişken için bu şekilde seçimler gerçekleştirlebilir. 
#Bir de sayısal bir değişken için bu şekilde bir seçim işlemi gerçekleştirelim
#mesela posta koduna göre bir seçim işlemi yapalım:

In [102]:
%sql select * from Customers where PostalCode = 5021;

   sqlite://
 * sqlite:///vbo.db
Done.

[(2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '5021', 'Mexico')]

In [ ]:
#bu seçimi eşittir şeklinde yaptık. 
#posta kodu için çok mantıklı olmasada örneğin belirli bir değerden büyüktür şeklinde yapmak istersek?

In [103]:
%sql select * from Customers where PostalCode > 5021;

   sqlite://
 * sqlite:///vbo.db
Done.

[(3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '5023', 'Mexico'),
 (4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK'),
 (5, 'Berglunds snabbköp', 'Christina Berglund', 'Berguvsvägen 8', 'Luleå', 'S-958 22', 'Sweden'),
 (6, 'Blauer See Delikatessen', 'Hanna Moos', 'Forsterstr. 57', 'Mannheim', '68306', 'Germany'),
 (7, 'Blondel père et fils', 'Frédérique Citeaux', '24, place Kléber', 'Strasbourg', '67000', 'France'),
 (10, 'Bottom-Dollar Marketse', 'Elizabeth Lincoln', '23 Tsawassen Blvd.', 'Tsawassen', 'T2F 8M4', 'Canada'),
 (11, "B's Beverages", 'Victoria Ashworth', 'Fauntleroy Circus', 'London', 'EC2 5NT', 'UK'),
 (13, 'Centro comercial Moctezuma', 'Francisco Chang', 'Sierras de Granada 9993', 'México D.F.', '5022', 'Mexico'),
 (16, 'Consolidated Holdings', 'Elizabeth Brown', 'Berkeley Gardens 12 Brewery', 'London', 'WX1 6LT', 'UK'),
 (17, 'Drachenblut Delikatessend', 'Sven Ottlieb', 'Walserweg 21', 'Aachen', '52066', 'Germany'),
 (19, 'Eastern Connection', 'Ann Devon', '35 King George', 'London', 'WX3 6FW', 'UK'),
 (20, 'Ernst Handel', 'Roland Mendel', 'Kirchgasse 6', 'Graz', '8010', 'Austria'),
 (23, 'Folies gourmandes', 'Martine Rancé', '184, chaussée de Tournai', 'Lille', '59000', 'France'),
 (24, 'Folk och fä HB', 'Maria Larsson', 'Åkergatan 24', 'Bräcke', 'S-844 67', 'Sweden'),
 (25, 'Frankenversand', 'Peter Franken', 'Berliner Platz 43', 'München', '80805', 'Germany'),
 (29, 'Galería del gastrónomo', 'Eduardo Saavedra', 'Rambla de Cataluña, 23', 'Barcelona', '8022', 'Spain'),
 (32, 'Great Lakes Food Market', 'Howard Snyder', '2732 Baker Blvd.', 'Eugene', '97403', 'USA'),
 (35, 'HILARIÓN-Abastos', 'Carlos Hernández', 'Carrera 22 con Ave. Carlos Soublette #8-35', 'San Cristóbal', '5022', 'Venezuela'),
 (36, 'Hungry Coyote Import Store', 'Yoshi Latimer', 'City Center Plaza 516 Main St.', 'Elgin', '97827', 'USA'),
 (38, 'Island Trading', 'Helen Bennett', 'Garden House Crowther Way', 'Cowes', 'PO31 7PJ', 'UK'),
 (40, "La corne d'abondance", 'Daniel Tonini', "67, avenue de l'Europe", 'Versailles', '78000', 'France'),
 (42, 'Laughing Bacchus Wine Cellars', 'Yoshi Tannamuri', '1900 Oak St.', 'Vancouver', 'V3F 2K1', 'Canada'),
 (43, 'Lazy K Kountry Store', 'John Steel', '12 Orchestra Terrace', 'Walla Walla', '99362', 'USA'),
 (44, 'Lehmanns Marktstand', 'Renate Messner', 'Magazinweg 7', 'Frankfurt a.M.', '60528', 'Germany'),
 (45, "Let's Stop N Shop", 'Jaime Yorres', '87 Polk St. Suite 5', 'San Francisco', '94117', 'USA'),
 (48, 'Lonesome Pine Restaurant', 'Fran Wilson', '89 Chiaroscuro Rd.', 'Portland', '97219', 'USA'),
 (50, 'Maison Dewey', 'Catherine Dewey', 'Rue Joseph-Bens 532', 'Bruxelles', 'B-1180', 'Belgium'),
 (51, 'Mère Paillarde', 'Jean Fresnière', '43 rue St. Laurent', 'Montréal', 'H1J 1C3', 'Canada'),
 (53, 'North/South', 'Simon Crowther', 'South House 300 Queensbridge', 'London', 'SW7 1RZ', 'UK'),
 (55, 'Old World Delicatessen', 'Rene Phillips', '2743 Bering St.', 'Anchorage', '99508', 'USA'),
 (56, 'Ottilies Käseladen', 'Henriette Pfalzheim', 'Mehrheimerstr. 369', 'Köln', '50739', 'Germany'),
 (57, 'Paris spécialités', 'Marie Bertrand', '265, boulevard Charonne', 'Paris', '75012', 'France'),
 (58, 'Pericles Comidas clásicas', 'Guillermo Fernández', 'Calle Dr. Jorge Cash 321', 'México D.F.', '5033', 'Mexico'),
 (65, 'Rattlesnake Canyon Grocery', 'Paula Wilson', '2817 Milton Dr.', 'Albuquerque', '87110', 'USA'),
 (71, 'Save-a-lot Markets', 'Jose Pavarotti', '187 Suffolk Ln.', 'Boise', '83720', 'USA'),
 (72, 'Seven Seas Imports', 'Hari Kumar', '90 Wadhurst Rd.', 'London', 'OX15 4NB', 'UK'),
 (74, 'Spécialités du monde', 'Dominique Perrier', '25, rue Lauriston', 'Paris', '75016', 'France'),
 (75, 'Split Rail Beer & Ale', 'Art Braunschweiger', 'P.O. Box 555', 'Lander', '82520', 'USA'),
 (76, 'Suprêmes délices', 'Pascale Cartrain', 'Boulevard Tirou, 255', 'Charleroi', 'B-6000', 'Belgium'),
 (77, 'The Big Cheese', 'Liz Nixon', '89 Jefferson Way Suite 2', 'Portland', '97201', 'USA'),
 (78, 'The Cracker Box', 'Liu Wong', '55 Grizzly Peak Rd.', 'Butte', '59801', 'USA'),
 (80, 'Tortuga Restaurante', 'Miguel Angel Paolino', 'Avda. Azteca 123', 'México D.F.', '5033', 'Mexico'),
 (82, "Trail's Head Gourmet Provisioners", 'Helvetius Nagy', '722 DaVinci Blvd.', 'Kirkland', '98034', 'USA'),
 (83, 'Vaffeljernet', 'Palle Ibsen', 'Smagsløget 45', 'Århus', '8200', 'Denmark'),
 (84, 'Victuailles en stock', 'Mary Saveley', '2, rue du Commerce', 'Lyon', '69004', 'France'),
 (85, 'Vins et alcools Chevalier', 'Paul Henriot', "59 rue de l'Abbaye", 'Reims', '51100', 'France'),
 (86, 'Die Wandernde Kuh', 'Rita Müller', 'Adenauerallee 900', 'Stuttgart', '70563', 'Germany'),
 (87, 'Wartian Herkku', 'Pirkko Koskitalo', 'Torikatu 38', 'Oulu', '90110', 'Finland'),
 (89, 'White Clover Markets', 'Karl Jablonski', '305 - 14th Ave. S. Suite 3B', 'Seattle', '98128', 'USA')]

## and ile Seçim

In [ ]:
#Peki değişjenler üzerinde birer birer değilde aynı anda birden fazla kısıt ile için seçim yapmak istersek?
#Örneğin ülkesi ingiltere şehri londra olanlara erişmek istersek?

In [104]:
%sql select * from Customers where Country = 'UK' and City = 'London';

   sqlite://
 * sqlite:///vbo.db
Done.

[(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK'),
 (11, "B's Beverages", 'Victoria Ashworth', 'Fauntleroy Circus', 'London', 'EC2 5NT', 'UK'),
 (16, 'Consolidated Holdings', 'Elizabeth Brown', 'Berkeley Gardens 12 Brewery', 'London', 'WX1 6LT', 'UK'),
 (19, 'Eastern Connection', 'Ann Devon', '35 King George', 'London', 'WX3 6FW', 'UK'),
 (53, 'North/South', 'Simon Crowther', 'South House 300 Queensbridge', 'London', 'SW7 1RZ', 'UK'),
 (72, 'Seven Seas Imports', 'Hari Kumar', '90 Wadhurst Rd.', 'London', 'OX15 4NB', 'UK')]

## or ile Seçim

In [ ]:
#anlaşılacağı üzere birden fazla değişken seçimi de ve bağlacını kullanarak yapılabilir.
#eğer ya da sorgusu yapmak istersek bu durumda or kulllanılır. 
#Yani örneğin şu şehir ya da bu şehir demek için.
#bunun için iki şehir seçmek adına şöyle bir veri setimize bakalım:

In [106]:
%sql select * from Customers where Country = 'USA';

   sqlite://
 * sqlite:///vbo.db
Done.

[(32, 'Great Lakes Food Market', 'Howard Snyder', '2732 Baker Blvd.', 'Eugene', '97403', 'USA'),
 (36, 'Hungry Coyote Import Store', 'Yoshi Latimer', 'City Center Plaza 516 Main St.', 'Elgin', '97827', 'USA'),
 (43, 'Lazy K Kountry Store', 'John Steel', '12 Orchestra Terrace', 'Walla Walla', '99362', 'USA'),
 (45, "Let's Stop N Shop", 'Jaime Yorres', '87 Polk St. Suite 5', 'San Francisco', '94117', 'USA'),
 (48, 'Lonesome Pine Restaurant', 'Fran Wilson', '89 Chiaroscuro Rd.', 'Portland', '97219', 'USA'),
 (55, 'Old World Delicatessen', 'Rene Phillips', '2743 Bering St.', 'Anchorage', '99508', 'USA'),
 (65, 'Rattlesnake Canyon Grocery', 'Paula Wilson', '2817 Milton Dr.', 'Albuquerque', '87110', 'USA'),
 (71, 'Save-a-lot Markets', 'Jose Pavarotti', '187 Suffolk Ln.', 'Boise', '83720', 'USA'),
 (75, 'Split Rail Beer & Ale', 'Art Braunschweiger', 'P.O. Box 555', 'Lander', '82520', 'USA'),
 (77, 'The Big Cheese', 'Liz Nixon', '89 Jefferson Way Suite 2', 'Portland', '97201', 'USA'),
 (78, 'The Cracker Box', 'Liu Wong', '55 Grizzly Peak Rd.', 'Butte', '59801', 'USA'),
 (82, "Trail's Head Gourmet Provisioners", 'Helvetius Nagy', '722 DaVinci Blvd.', 'Kirkland', '98034', 'USA'),
 (89, 'White Clover Markets', 'Karl Jablonski', '305 - 14th Ave. S. Suite 3B', 'Seattle', '98128', 'USA')]

In [ ]:
#buradan rastgele iki eyalet ya da şehri seçelim ve işlemi gerçekleştirelim:

In [112]:
%sql select * from Customers where Country = 'USA' and (City = 'Eugene' or City = 'Elgin');

   sqlite://
 * sqlite:///vbo.db
Done.

[(32, 'Great Lakes Food Market', 'Howard Snyder', '2732 Baker Blvd.', 'Eugene', '97403', 'USA'),
 (36, 'Hungry Coyote Import Store', 'Yoshi Latimer', 'City Center Plaza 516 Main St.', 'Elgin', '97827', 'USA')]

In [ ]:
#bir tık daha zorlaştıralım ve bir tane de sayısal değişken kısıtı ekleyelim:

In [115]:
%sql select * from Customers where Country = 'USA' and PostalCode = 97403 and (City = 'Eugene' or City = 'Elgin');

   sqlite://
 * sqlite:///vbo.db
Done.

[(32, 'Great Lakes Food Market', 'Howard Snyder', '2732 Baker Blvd.', 'Eugene', '97403', 'USA')]

In [ ]:
#tabi burada eğer postacodu olarak bu postacodu unique yani eşsiz ise 
#tabi ki buradaki Country'nin USA olarak ifade edilmeseine gerek olmayabilir.
#biz birarada kullanımını ele almış olduk.

## in Kullanımı

In [ ]:
#Where içerisinde kullandığımız or ile şart ifadeleri fazlalaştığında çalışmak zorlaşmaktadır. 
#Yani iç içe birçok or'lu ifade yer almaktadır. 
#Bu durumda daha basit ve iş gören bir ifade olan in kullanılır.

In [117]:
%sql select * from Customers where CustomerId in (1,2,3,4);

   sqlite://
 * sqlite:///vbo.db
Done.

[(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany'),
 (2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '5021', 'Mexico'),
 (3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '5023', 'Mexico'),
 (4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')]

In [ ]:
#bu islemin tersi olarak not in kullanılır:

In [119]:
%sql select * from Customers where CustomerId not in (1,2,3,4) limit 10;

   sqlite://
 * sqlite:///vbo.db
Done.

[(5, 'Berglunds snabbköp', 'Christina Berglund', 'Berguvsvägen 8', 'Luleå', 'S-958 22', 'Sweden'),
 (6, 'Blauer See Delikatessen', 'Hanna Moos', 'Forsterstr. 57', 'Mannheim', '68306', 'Germany'),
 (7, 'Blondel père et fils', 'Frédérique Citeaux', '24, place Kléber', 'Strasbourg', '67000', 'France'),
 (8, 'Bólido Comidas preparadas', 'Martín Sommer', 'C/ Araquil, 67', 'Madrid', '28023', 'Spain'),
 (9, "Bon app'", 'Laurence Lebihans', '12, rue des Bouchers', 'Marseille', '13008', 'France'),
 (10, 'Bottom-Dollar Marketse', 'Elizabeth Lincoln', '23 Tsawassen Blvd.', 'Tsawassen', 'T2F 8M4', 'Canada'),
 (11, "B's Beverages", 'Victoria Ashworth', 'Fauntleroy Circus', 'London', 'EC2 5NT', 'UK'),
 (12, 'Cactus Comidas para llevar', 'Patricio Simpson', 'Cerrito 333', 'Buenos Aires', '1010', 'Argentina'),
 (13, 'Centro comercial Moctezuma', 'Francisco Chang', 'Sierras de Granada 9993', 'México D.F.', '5022', 'Mexico'),
 (14, 'Chop-suey Chinese', 'Yang Wang', 'Hauptstr. 29', 'Bern', '3012', 'Switzerland')]

In [ ]:
#string ifadeler içinde in'i kullanabiliriz:

In [121]:
%sql select * from Customers where Country in ("London","Sweden","USA");

   sqlite://
 * sqlite:///vbo.db
Done.

[(5, 'Berglunds snabbköp', 'Christina Berglund', 'Berguvsvägen 8', 'Luleå', 'S-958 22', 'Sweden'),
 (24, 'Folk och fä HB', 'Maria Larsson', 'Åkergatan 24', 'Bräcke', 'S-844 67', 'Sweden'),
 (32, 'Great Lakes Food Market', 'Howard Snyder', '2732 Baker Blvd.', 'Eugene', '97403', 'USA'),
 (36, 'Hungry Coyote Import Store', 'Yoshi Latimer', 'City Center Plaza 516 Main St.', 'Elgin', '97827', 'USA'),
 (43, 'Lazy K Kountry Store', 'John Steel', '12 Orchestra Terrace', 'Walla Walla', '99362', 'USA'),
 (45, "Let's Stop N Shop", 'Jaime Yorres', '87 Polk St. Suite 5', 'San Francisco', '94117', 'USA'),
 (48, 'Lonesome Pine Restaurant', 'Fran Wilson', '89 Chiaroscuro Rd.', 'Portland', '97219', 'USA'),
 (55, 'Old World Delicatessen', 'Rene Phillips', '2743 Bering St.', 'Anchorage', '99508', 'USA'),
 (65, 'Rattlesnake Canyon Grocery', 'Paula Wilson', '2817 Milton Dr.', 'Albuquerque', '87110', 'USA'),
 (71, 'Save-a-lot Markets', 'Jose Pavarotti', '187 Suffolk Ln.', 'Boise', '83720', 'USA'),
 (75, 'Split Rail Beer & Ale', 'Art Braunschweiger', 'P.O. Box 555', 'Lander', '82520', 'USA'),
 (77, 'The Big Cheese', 'Liz Nixon', '89 Jefferson Way Suite 2', 'Portland', '97201', 'USA'),
 (78, 'The Cracker Box', 'Liu Wong', '55 Grizzly Peak Rd.', 'Butte', '59801', 'USA'),
 (82, "Trail's Head Gourmet Provisioners", 'Helvetius Nagy', '722 DaVinci Blvd.', 'Kirkland', '98034', 'USA'),
 (89, 'White Clover Markets', 'Karl Jablonski', '305 - 14th Ave. S. Suite 3B', 'Seattle', '98128', 'USA')]

In [123]:
%sql select * from Customers where Country not in ("London","Sweden","USA") limit 10;

   sqlite://
 * sqlite:///vbo.db
Done.

[(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany'),
 (2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '5021', 'Mexico'),
 (3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '5023', 'Mexico'),
 (4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK'),
 (6, 'Blauer See Delikatessen', 'Hanna Moos', 'Forsterstr. 57', 'Mannheim', '68306', 'Germany'),
 (7, 'Blondel père et fils', 'Frédérique Citeaux', '24, place Kléber', 'Strasbourg', '67000', 'France'),
 (8, 'Bólido Comidas preparadas', 'Martín Sommer', 'C/ Araquil, 67', 'Madrid', '28023', 'Spain'),
 (9, "Bon app'", 'Laurence Lebihans', '12, rue des Bouchers', 'Marseille', '13008', 'France'),
 (10, 'Bottom-Dollar Marketse', 'Elizabeth Lincoln', '23 Tsawassen Blvd.', 'Tsawassen', 'T2F 8M4', 'Canada'),
 (11, "B's Beverages", 'Victoria Ashworth', 'Fauntleroy Circus', 'London', 'EC2 5NT', 'UK')]

# LIKE ile Seçme İşlemleri

* 'a%' : “a” ile başlayan değerler
* '%a' : “a” ile biten değerler
* %or%' : herhangi bir yerinde “or” olan değerler
* '_r%' : ikinci sirasında “r” olan değerler
* 'a_%_%' : “a” ile başlayıp en az 3 karakterden oluşan değerler
* 'a%o' :  “a” ile başlayıp “o” ile biten değerler

In [ ]:
#Like where ile birlikte kullanılır, biraz daha karışık seçme işlemleri imkanı verir.
#Daha ileri ihtiyaçlar için kullanılır ki bu ihtiyaçlar sürekli olur.

In [126]:
%sql select * from Customers where CustomerName like '%or%';

   sqlite://
 * sqlite:///vbo.db
Done.

[(3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '5023', 'Mexico'),
 (4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK'),
 (36, 'Hungry Coyote Import Store', 'Yoshi Latimer', 'City Center Plaza 516 Main St.', 'Elgin', '97827', 'USA'),
 (40, "La corne d'abondance", 'Daniel Tonini', "67, avenue de l'Europe", 'Versailles', '78000', 'France'),
 (43, 'Lazy K Kountry Store', 'John Steel', '12 Orchestra Terrace', 'Walla Walla', '99362', 'USA'),
 (52, 'Morgenstern Gesundkost', 'Alexander Feuer', 'Heerstr. 22', 'Leipzig', '4179', 'Germany'),
 (53, 'North/South', 'Simon Crowther', 'South House 300 Queensbridge', 'London', 'SW7 1RZ', 'UK'),
 (55, 'Old World Delicatessen', 'Rene Phillips', '2743 Bering St.', 'Anchorage', '99508', 'USA'),
 (72, 'Seven Seas Imports', 'Hari Kumar', '90 Wadhurst Rd.', 'London', 'OX15 4NB', 'UK'),
 (80, 'Tortuga Restaurante', 'Miguel Angel Paolino', 'Avda. Azteca 123', 'México D.F.', '5033', 'Mexico'),
 (88, 'Wellington Importadora', 'Paula Parente', 'Rua do Mercado, 12', 'Resende', '08737-363', 'Brazil')]

In [129]:
#bir baska ornek ele alalım ve bu sefer örneğin a harfi ile biten isimlere bakalım:
%sql select * from Customers where CustomerName like '%a';

   sqlite://
 * sqlite:///vbo.db
Done.

[(3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '5023', 'Mexico'),
 (13, 'Centro comercial Moctezuma', 'Francisco Chang', 'Sierras de Granada 9993', 'México D.F.', '5022', 'Mexico'),
 (30, 'Godos Cocina Típica', 'José Pedro Freyre', 'C/ Romero, 33', 'Sevilla', '41101', 'Spain'),
 (61, 'Que Delícia', 'Bernardo Batista', 'Rua da Panificadora, 12', 'Rio de Janeiro', '02389-673', 'Brazil'),
 (62, 'Queen Cozinha', 'Lúcia Carvalho', 'Alameda dos Canàrios, 891', 'São Paulo', '05487-020', 'Brazil'),
 (88, 'Wellington Importadora', 'Paula Parente', 'Rua do Mercado, 12', 'Resende', '08737-363', 'Brazil'),
 (90, 'Wilman Kala', 'Matti Karttunen', 'Keskuskatu 45', 'Helsinki', '21240', 'Finland')]

In [ ]:
#biraz daha zorlaştıralalım ve diyelim ki 
#ismi A harfi ile başlayan ve ülkesi il ifadesi ile biten kayıtları getirelim.

In [140]:
%sql select * from Customers where CustomerName like 'A%' and Country like '%o';

   sqlite://
 * sqlite:///vbo.db
Done.

[(2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '5021', 'Mexico'),
 (3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '5023', 'Mexico')]

# BETWEEN

In [152]:
#text, sayısal ya da tarih ifadelerinde aralık vererek seçim yapabilmek için kullanılır.

## Between: Numerik Aralıklar

In [ ]:
#product tablosuna bakalım:

In [166]:
%sql select * from Products limit 10;

   sqlite://
 * sqlite:///vbo.db
Done.

[(1, 'Chais', 1, 1, '10 boxes x 20 bags', '18'),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', '19'),
 (3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', '10'),
 (4, "Chef Anton's Cajun Seasoning", 2, 2, '48 - 6 oz jars', '22'),
 (5, "Chef Anton's Gumbo Mix", 2, 2, '36 boxes', '21.35'),
 (6, "Grandma's Boysenberry Spread", 3, 2, '12 - 8 oz jars', '25'),
 (7, "Uncle Bob's Organic Dried Pears", 3, 7, '12 - 1 lb pkgs.', '30'),
 (8, 'Northwoods Cranberry Sauce', 3, 2, '12 - 12 oz jars', '40'),
 (9, 'Mishi Kobe Niku', 4, 6, '18 - 500 g pkgs.', '97'),
 (10, 'Ikura', 4, 8, '12 - 200 ml jars', '31')]

In [ ]:
#buradan price değişkeninin örneğin 10 ile 20 arasında değer alması durumunu sağlayan kayıtlara bakalım:

In [177]:
%sql SELECT * from Products WHERE Price BETWEEN 10 and 20 limit 10;

   sqlite://
 * sqlite:///vbo.db
Done.

[(1, 'Chais', 1, 1, '10 boxes x 20 bags', '18'),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', '19'),
 (3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', '10'),
 (15, 'Genen Shouyu', 6, 2, '24 - 250 ml bottles', '15.May'),
 (16, 'Pavlova', 7, 3, '32 - 500 g boxes', '17.45'),
 (21, "Sir Rodney's Scones", 8, 3, '24 pkgs. x 4 pieces', '10'),
 (25, 'NuNuCa Nuß-Nougat-Creme', 11, 3, '20 - 450 g glasses', '14'),
 (29, 'Thüringer Rostbratwurst', 12, 6, '50 bags x 30 sausgs.', '123.79'),
 (31, 'Gorgonzola Telino', 14, 4, '12 - 100 g pkgs', '12.May'),
 (33, 'Geitost', 15, 4, '500 g', '2.May')]

In [ ]:
#bir de 10 ile 20 aralığında olmayanlara bakalım:

In [178]:
%sql SELECT * from Products WHERE Price NOT BETWEEN 10 and 20 limit 10;

   sqlite://
 * sqlite:///vbo.db
Done.

[(4, "Chef Anton's Cajun Seasoning", 2, 2, '48 - 6 oz jars', '22'),
 (5, "Chef Anton's Gumbo Mix", 2, 2, '36 boxes', '21.35'),
 (6, "Grandma's Boysenberry Spread", 3, 2, '12 - 8 oz jars', '25'),
 (7, "Uncle Bob's Organic Dried Pears", 3, 7, '12 - 1 lb pkgs.', '30'),
 (8, 'Northwoods Cranberry Sauce', 3, 2, '12 - 12 oz jars', '40'),
 (9, 'Mishi Kobe Niku', 4, 6, '18 - 500 g pkgs.', '97'),
 (10, 'Ikura', 4, 8, '12 - 200 ml jars', '31'),
 (11, 'Queso Cabrales', 5, 4, '1 kg pkg.', '21'),
 (12, 'Queso Manchego La Pastora', 5, 4, '10 - 500 g pkgs.', '38'),
 (13, 'Konbu', 6, 8, '2 kg box', '6')]

In [ ]:
#biraz daha karmaşıklaştıralım ve diyelim ki fiyatı 10 ile 20 arasında olsun ama 
#kategorileri örneğin 1,2,3 olmasın

In [180]:
%sql SELECT * from Products WHERE (Price BETWEEN 10 and 20) AND NOT CategoryID IN (1,2,3);

   sqlite://
 * sqlite:///vbo.db
Done.

[(29, 'Thüringer Rostbratwurst', 12, 6, '50 bags x 30 sausgs.', '123.79'),
 (31, 'Gorgonzola Telino', 14, 4, '12 - 100 g pkgs', '12.May'),
 (33, 'Geitost', 15, 4, '500 g', '2.May'),
 (36, 'Inlagd Sill', 17, 8, '24 - 250 g jars', '19'),
 (40, 'Boston Crab Meat', 19, 8, '24 - 4 oz tins', '18.Nis'),
 (42, 'Singaporean Hokkien Fried Mee', 20, 5, '32 - 1 kg pkgs.', '14'),
 (46, 'Spegesild', 21, 8, '4 - 450 g glasses', '12'),
 (57, 'Ravioli Angelo', 26, 5, '24 - 250 g pkgs.', '19.May'),
 (58, 'Escargots de Bourgogne', 27, 8, '24 pieces', '13.25'),
 (73, 'Röd Kaviar', 17, 8, '24 - 150 g jars', '15'),
 (74, 'Longlife Tofu', 4, 7, '5 kg pkg.', '10')]

## Between: Text Aralıklar

In [185]:
%sql SELECT * from Products WHERE ProductName Between 'Carnarvon Tigers' AND 'Mozzarella di Govanni';

   sqlite://
 * sqlite:///vbo.db
Done.

[(1, 'Chais', 1, 1, '10 boxes x 20 bags', '18'),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', '19'),
 (4, "Chef Anton's Cajun Seasoning", 2, 2, '48 - 6 oz jars', '22'),
 (5, "Chef Anton's Gumbo Mix", 2, 2, '36 boxes', '21.35'),
 (6, "Grandma's Boysenberry Spread", 3, 2, '12 - 8 oz jars', '25'),
 (9, 'Mishi Kobe Niku', 4, 6, '18 - 500 g pkgs.', '97'),
 (10, 'Ikura', 4, 8, '12 - 200 ml jars', '31'),
 (13, 'Konbu', 6, 8, '2 kg box', '6'),
 (15, 'Genen Shouyu', 6, 2, '24 - 250 ml bottles', '15.May'),
 (18, 'Carnarvon Tigers', 7, 8, '16 kg pkg.', '62.5'),
 (22, "Gustaf's Knäckebröd", 9, 5, '24 - 500 g pkgs.', '21'),
 (24, 'Guaraná Fantástica', 10, 1, '12 - 355 ml cans', '4.May'),
 (26, 'Gumbär Gummibärchen', 11, 3, '100 - 250 g bags', '31.23'),
 (31, 'Gorgonzola Telino', 14, 4, '12 - 100 g pkgs', '12.May'),
 (32, 'Mascarpone Fabioli', 14, 4, '24 - 200 g pkgs.', '32'),
 (33, 'Geitost', 15, 4, '500 g', '2.May'),
 (36, 'Inlagd Sill', 17, 8, '24 - 250 g jars', '19'),
 (37, 'Gravad lax', 17, 8, '12 - 500 g pkgs.', '26'),
 (38, 'Côte de Blaye', 18, 1, '12 - 75 cl bottles', '263.5'),
 (39, 'Chartreuse verte', 18, 1, '750 cc per bottle', '18'),
 (41, "Jack's New England Clam Chowder", 19, 8, '12 - 12 oz cans', 'Eyl.65'),
 (43, 'Ipoh Coffee', 20, 1, '16 - 500 g tins', '46'),
 (44, 'Gula Malacca', 20, 2, '20 - 2 kg bags', '19.45'),
 (48, 'Chocolade', 22, 3, '10 pkgs.', 'Ara.75'),
 (49, 'Maxilaku', 23, 3, '24 - 50 g pkgs.', '20'),
 (51, 'Manjimup Dried Apples', 24, 7, '50 - 300 g pkgs.', '53'),
 (52, 'Filo Mix', 24, 5, '16 - 2 kg boxes', '7'),
 (56, 'Gnocchi di nonna Alice', 26, 5, '24 - 250 g pkgs.', '38'),
 (58, 'Escargots de Bourgogne', 27, 8, '24 pieces', '13.25'),
 (65, 'Louisiana Fiery Hot Pepper Sauce', 2, 2, '32 - 8 oz bottles', '21.May'),
 (66, 'Louisiana Hot Spiced Okra', 2, 2, '24 - 8 oz jars', '17'),
 (67, 'Laughing Lumberjack Lager', 16, 1, '24 - 12 oz bottles', '14'),
 (69, 'Gudbrandsdalsost', 15, 4, '10 kg pkg.', '36'),
 (71, 'Fløtemysost', 15, 4, '10 - 500 g pkgs.', '21.May'),
 (72, 'Mozzarella di Giovanni', 14, 4, '24 - 200 g pkgs.', '34.8'),
 (74, 'Longlife Tofu', 4, 7, '5 kg pkg.', '10'),
 (76, 'Lakkalikööri', 23, 1, '500 ml', '18')]

In [ ]:
#order by'i hemen araya alalim. Order by sıralama işlemleri için kullanılan çok basit fonksiyon
#örneğin burada bu seçim işlemi sonrasında Productname'lere göre bir sıralama yapmak istersek 
#bunu şu şekilde yapabiliriz.

In [186]:
%sql SELECT * from Products WHERE ProductName Between 'Carnarvon Tigers' AND 'Mozzarella di Govanni' ORDER BY ProductName;

   sqlite://
 * sqlite:///vbo.db
Done.

[(18, 'Carnarvon Tigers', 7, 8, '16 kg pkg.', '62.5'),
 (1, 'Chais', 1, 1, '10 boxes x 20 bags', '18'),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', '19'),
 (39, 'Chartreuse verte', 18, 1, '750 cc per bottle', '18'),
 (4, "Chef Anton's Cajun Seasoning", 2, 2, '48 - 6 oz jars', '22'),
 (5, "Chef Anton's Gumbo Mix", 2, 2, '36 boxes', '21.35'),
 (48, 'Chocolade', 22, 3, '10 pkgs.', 'Ara.75'),
 (38, 'Côte de Blaye', 18, 1, '12 - 75 cl bottles', '263.5'),
 (58, 'Escargots de Bourgogne', 27, 8, '24 pieces', '13.25'),
 (52, 'Filo Mix', 24, 5, '16 - 2 kg boxes', '7'),
 (71, 'Fløtemysost', 15, 4, '10 - 500 g pkgs.', '21.May'),
 (33, 'Geitost', 15, 4, '500 g', '2.May'),
 (15, 'Genen Shouyu', 6, 2, '24 - 250 ml bottles', '15.May'),
 (56, 'Gnocchi di nonna Alice', 26, 5, '24 - 250 g pkgs.', '38'),
 (31, 'Gorgonzola Telino', 14, 4, '12 - 100 g pkgs', '12.May'),
 (6, "Grandma's Boysenberry Spread", 3, 2, '12 - 8 oz jars', '25'),
 (37, 'Gravad lax', 17, 8, '12 - 500 g pkgs.', '26'),
 (24, 'Guaraná Fantástica', 10, 1, '12 - 355 ml cans', '4.May'),
 (69, 'Gudbrandsdalsost', 15, 4, '10 kg pkg.', '36'),
 (44, 'Gula Malacca', 20, 2, '20 - 2 kg bags', '19.45'),
 (26, 'Gumbär Gummibärchen', 11, 3, '100 - 250 g bags', '31.23'),
 (22, "Gustaf's Knäckebröd", 9, 5, '24 - 500 g pkgs.', '21'),
 (10, 'Ikura', 4, 8, '12 - 200 ml jars', '31'),
 (36, 'Inlagd Sill', 17, 8, '24 - 250 g jars', '19'),
 (43, 'Ipoh Coffee', 20, 1, '16 - 500 g tins', '46'),
 (41, "Jack's New England Clam Chowder", 19, 8, '12 - 12 oz cans', 'Eyl.65'),
 (13, 'Konbu', 6, 8, '2 kg box', '6'),
 (76, 'Lakkalikööri', 23, 1, '500 ml', '18'),
 (67, 'Laughing Lumberjack Lager', 16, 1, '24 - 12 oz bottles', '14'),
 (74, 'Longlife Tofu', 4, 7, '5 kg pkg.', '10'),
 (65, 'Louisiana Fiery Hot Pepper Sauce', 2, 2, '32 - 8 oz bottles', '21.May'),
 (66, 'Louisiana Hot Spiced Okra', 2, 2, '24 - 8 oz jars', '17'),
 (51, 'Manjimup Dried Apples', 24, 7, '50 - 300 g pkgs.', '53'),
 (32, 'Mascarpone Fabioli', 14, 4, '24 - 200 g pkgs.', '32'),
 (49, 'Maxilaku', 23, 3, '24 - 50 g pkgs.', '20'),
 (9, 'Mishi Kobe Niku', 4, 6, '18 - 500 g pkgs.', '97'),
 (72, 'Mozzarella di Giovanni', 14, 4, '24 - 200 g pkgs.', '34.8')]

# Aggregation Fonksiyonları: Temel İstatistiksel İşlemler

In [215]:
%sql SELECT * from Products limit 10;

   sqlite://
 * sqlite:///vbo.db
Done.

[(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19),
 (3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10),
 (4, "Chef Anton's Cajun Seasoning", 2, 2, '48 - 6 oz jars', 22),
 (5, "Chef Anton's Gumbo Mix", 2, 2, '36 boxes', 21.35),
 (6, "Grandma's Boysenberry Spread", 3, 2, '12 - 8 oz jars', 25),
 (7, "Uncle Bob's Organic Dried Pears", 3, 7, '12 - 1 lb pkgs.', 30),
 (8, 'Northwoods Cranberry Sauce', 3, 2, '12 - 12 oz jars', 40),
 (9, 'Mishi Kobe Niku', 4, 6, '18 - 500 g pkgs.', 97),
 (10, 'Ikura', 4, 8, '12 - 200 ml jars', 31)]

In [ ]:
#min max

In [216]:
%sql select MIN(Price) from Products;

   sqlite://
 * sqlite:///vbo.db
Done.

[(6,)]

In [217]:
%sql select MAX(Price) from Products;

   sqlite://
 * sqlite:///vbo.db
Done.

[('Tem.75',)]

In [ ]:
#ikisini bir arada da gözlemleyebliriz:

In [220]:
%sql select MAX(Price), MIN(Price) from Products;

   sqlite://
 * sqlite:///vbo.db
Done.

[('Tem.75', 6)]

In [ ]:
#isimlendirme ekleyelim:

In [221]:
%sql select MAX(Price) as minimum_fiyat, MIN(Price) as maksimum_fiyat from Products;

   sqlite://
 * sqlite:///vbo.db
Done.

[('Tem.75', 6)]

In [ ]:
#AVG

In [218]:
%sql select AVG(Price) from Products;

   sqlite://
 * sqlite:///vbo.db
Done.

[(28.304675324675326,)]

In [ ]:
#SUM

In [219]:
%sql select SUM(Price) from Products;

   sqlite://
 * sqlite:///vbo.db
Done.

[(2179.46,)]

In [ ]:
#bir değişken için temel betimsel istatistikleri alalım:

In [226]:
%sql select SUM(Price) as toplam, AVG(Price) as ortalama, MIN(Price) as min_deger, MAX(Price) as max_deger from Products;

   sqlite://
 * sqlite:///vbo.db
Done.

[(2179.46, 28.304675324675326, 6, 'Tem.75')]

# GROUP BY ve Aggregation Fonksiyonları

In [ ]:
#Bir ya da daha fazla değişken bazında result seti gruplamak için kullanılır. 
#Türkçesi ya da istatistikçiler için açıklaması: Kategorik değişkenlerin sınıflarına göre işlem yapmak için kullanılır. 
#Genellikle aggregate fonksiyonları ile kullanılır. (COUNT, MAX, MIN, SUM, AVG)

In [ ]:
#örneğin müşteri tablosunda hangi ülkeden kaçar tane müşyerimiz olduğunu saymak istediğimizi düşünelim.
#bu durumda grup by işe yarayacaktır. Yine örneğin products tabloısundaki ürün kategorşilerine göre 
#ürün fiyat ortalamalarının ne olduğunu belirlemek istediğimizde yine grup by işimizi görecektir.
#özetle kategorik değişkenlerin sınıfları bazında bazı işlemler yapma imkanı sağlar.
#şimdi bunları ele alacağız.

In [227]:
%sql SELECT COUNT(CustomerID), Country FROM Customers GROUP BY Country;

   sqlite://
 * sqlite:///vbo.db
Done.

[(3, 'Argentina'),
 (2, 'Austria'),
 (2, 'Belgium'),
 (9, 'Brazil'),
 (3, 'Canada'),
 (2, 'Denmark'),
 (2, 'Finland'),
 (11, 'France'),
 (11, 'Germany'),
 (1, 'Ireland'),
 (3, 'Italy'),
 (5, 'Mexico'),
 (1, 'Norway'),
 (1, 'Poland'),
 (2, 'Portugal'),
 (5, 'Spain'),
 (2, 'Sweden'),
 (2, 'Switzerland'),
 (7, 'UK'),
 (13, 'USA'),
 (4, 'Venezuela')]

In [ ]:
#bunu müşteri sayısına göre sıralamak istersek:

In [232]:
%sql SELECT COUNT(CustomerID) as MUSTERI_SAYISI, Country FROM Customers GROUP BY Country ORDER BY MUSTERI_SAYISI DESC;

   sqlite://
 * sqlite:///vbo.db
Done.

[(13, 'USA'),
 (11, 'France'),
 (11, 'Germany'),
 (9, 'Brazil'),
 (7, 'UK'),
 (5, 'Mexico'),
 (5, 'Spain'),
 (4, 'Venezuela'),
 (3, 'Argentina'),
 (3, 'Canada'),
 (3, 'Italy'),
 (2, 'Austria'),
 (2, 'Belgium'),
 (2, 'Denmark'),
 (2, 'Finland'),
 (2, 'Portugal'),
 (2, 'Sweden'),
 (2, 'Switzerland'),
 (1, 'Ireland'),
 (1, 'Norway'),
 (1, 'Poland')]

In [ ]:
#bir başka örnek ele alalım bu sefer products categorileri price ortalamlarıne göre inceleyelim.

In [233]:
%sql select * from Products limit 2;

   sqlite://
 * sqlite:///vbo.db
Done.

[(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19)]

In [234]:
%sql SELECT AVG(Price) as ortalama_fiyat, CategoryID FROM Products GROUP BY CategoryID;

   sqlite://
 * sqlite:///vbo.db
Done.

[(37.291666666666664, 1),
 (22.974999999999998, 2),
 (24.086923076923078, 3),
 (28.580000000000002, 4),
 (20.178571428571427, 5),
 (52.76500000000001, 6),
 (32.37, 7),
 (19.80333333333333, 8)]

# JOIN İşlemleri

In [ ]:
#şimdi bir tablolarımızı hatırlayalım:

In [235]:
%sql select name from sqlite_master WHERE type='table';

   sqlite://
 * sqlite:///vbo.db
Done.

[('Categories',),
 ('Customers',),
 ('Employees',),
 ('OrderDetails',),
 ('Orders',),
 ('Shippers',),
 ('Suppliers',),
 ('cartoon',),
 ('Products',)]

In [ ]:
#buradan örneğin önceki problemimize ilişkin olarka products ve categories tablolarımızı hatırlayalım:

In [236]:
%sql select * from Categories limit 3;

   sqlite://
 * sqlite:///vbo.db
Done.

[(1, 'Beverages', 'Soft drinks, coffees, teas, beers, and ales'),
 (2, 'Condiments', 'Sweet and savory sauces, relishes, spreads, and seasonings'),
 (3, 'Confections', 'Desserts, candies, and sweet breads')]

In [237]:
%sql select * from Products limit 3;

   sqlite://
 * sqlite:///vbo.db
Done.

[(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19),
 (3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10)]

In [ ]:
#buradan incelenecek olursa görüleceği üzere categoriid'nin 1 oldugu kategorinin ismi burada yer almış.
#bunları ayrı ayrı tablolarda gözlemleyebiliyoruz.,
#işte bunları bir arada görmek için bu iki tabloyu birleştirmemiz gerekiyor.
#birleştirme yöntemlerinden ilk olarak left joini ele allaım:

## LEFT JOIN & RIGHT JOIN

In [246]:
#LEFT JOIN: Soldaki tablo ile kesişen sağdaki tablo değerlerinin bir araya getirilmesi. 
#Dikkat burası önemli. SQLite içerisndeki left join işlemleri LEFT OUTER JOIN ile yapılır.
#Bazı veri tabanlarınde direk LEFT JOIN ifadesi ile bazılarında ise LEFT OUTER JOIN ile yapılabilmektedir.
#Biz ikisinide kullandığımızda bir left join birleştirme işlemi yapılacaktır. 
#Bilginiz olsun.

In [ ]:
#öncelikle en kaba haliyle iki tabloyu nasıl birleştireceğimizi ele alalım:

In [245]:
%sql select * from Products LEFT OUTER JOIN Categories ON Products.CategoryID = Categories.CategoryID LIMIT 5;

   sqlite://
 * sqlite:///vbo.db
Done.

[(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18, 1, 'Beverages', 'Soft drinks, coffees, teas, beers, and ales'),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19, 1, 'Beverages', 'Soft drinks, coffees, teas, beers, and ales'),
 (3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10, 2, 'Condiments', 'Sweet and savory sauces, relishes, spreads, and seasonings'),
 (4, "Chef Anton's Cajun Seasoning", 2, 2, '48 - 6 oz jars', 22, 2, 'Condiments', 'Sweet and savory sauces, relishes, spreads, and seasonings'),
 (5, "Chef Anton's Gumbo Mix", 2, 2, '36 boxes', 21.35, 2, 'Condiments', 'Sweet and savory sauces, relishes, spreads, and seasonings')]

In [ ]:
#bu kadar arkadaşlar.
#evet bir araya aldık bunları ama bu sefer de sanki bir çıktı kalabaligi var.
#bunu nasil ortadan kaldiriiz.
#yani mesela ben sadece productname'e, categoryid'sine ve category ismine erişmek istersem ne yapıcam?
#hemen bunu ele alalım

In [240]:
%sql select Products.ProductName, Categories.CategoryID, Categories.CategoryName from Products LEFT JOIN Categories ON Products.CategoryID = Categories.CategoryID LIMIT 5;

   sqlite://
 * sqlite:///vbo.db
Done.

[('Chais', 1, 'Beverages'),
 ('Chang', 1, 'Beverages'),
 ('Aniseed Syrup', 2, 'Condiments'),
 ("Chef Anton's Cajun Seasoning", 2, 'Condiments'),
 ("Chef Anton's Gumbo Mix", 2, 'Condiments')]

In [ ]:
#bakin tertemiz left join sonrasında sadece istediğimiz değişkenleri seçebildik. 
#görüyorum ve arttırıyorum. Bakın bu kod biraz çirkinleşmeye kalabalıklaşmaya başladı.
#daha fazla değişken seçmek ya da birden fazla peş peşe işlem gerçekleştirmek istediğimizde
#bu işlemler nasıl oalcak bunların daha temizi var mı dersek var
#şimdi aynı işlemi biraz daha temiz yazalım:

In [241]:
%sql select PR.ProductName, CA.CategoryID, CA.CategoryName from Products as PR LEFT JOIN Categories as CA ON PR.CategoryID = CA.CategoryID LIMIT 5;

   sqlite://
 * sqlite:///vbo.db
Done.

[('Chais', 1, 'Beverages'),
 ('Chang', 1, 'Beverages'),
 ('Aniseed Syrup', 2, 'Condiments'),
 ("Chef Anton's Cajun Seasoning", 2, 'Condiments'),
 ("Chef Anton's Gumbo Mix", 2, 'Condiments')]

## RIGHT JOIN

In [ ]:
#LEFT JOIN ile yapmış olduğumuz işlemlerin sağ endeksli şekilde gerçekleştirilmesidir.
#Left join ile ne yapmıştık? 
#soldaki tablo ile kesişen sağdaki tablo değerlerini biraraya getirmiştik.
#burada da sağdaki tablo ile kesişien soldaki tablo değerleri biraraya getirilir.
#Genelde left join odağında çalışılır. 
#önemli not: SQLite'içerisinde right join işlemleri yoktur.

## INNER JOIN

In [ ]:
#left join işleminde soldaki tabloya GÖRE bir birleştirme işlemi gerçekleşti ve sağdaki tablo ile ilgilenilmedi. 
#inner join ise iki tablonun kesişimini ele alır.

In [ ]:
#şimdi yine iki tablo açalım ve bu tablolar üzerinden bu durumu pekiştirmeye çalışalım.
#şöyle ki amacımız sadece sipariş veren müşterin sipariş id leri ve isimlerine erişmek olsun.
#hemen customers tablosunu ve orders tablosunu şöyle bir çağırıp bakalım:

In [248]:
%sql select * from Customers limit 3;

   sqlite://
 * sqlite:///vbo.db
Done.

[(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany'),
 (2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '5021', 'Mexico'),
 (3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '5023', 'Mexico')]

In [249]:
%sql select * from Orders limit 3;

   sqlite://
 * sqlite:///vbo.db
Done.

[(10248, 90, 5, '4.07.1996', 3),
 (10249, 81, 6, '5.07.1996', 1),
 (10250, 34, 4, '8.07.1996', 2)]

In [ ]:
#Öncelikle her müşteri illaki sipariş verecek diye bir şey yok değil mi belki bazı müşterilerein siparişi yoktur.
#dolayısıyla şimdi sadece sipariş veren müşterilerin isimlerine ve sipariş id'lerine erişmek isteeyelim:

In [250]:
%sql select Orders.OrderID, Customers.CustomerName FROM Orders INNER JOIN Customers ON Orders.CustomerID = Customers.CustomerID;

   sqlite://
 * sqlite:///vbo.db
Done.

[(10248, 'Wilman Kala'),
 (10249, 'Tradição Hipermercados'),
 (10250, 'Hanari Carnes'),
 (10251, 'Victuailles en stock'),
 (10252, 'Suprêmes délices'),
 (10253, 'Hanari Carnes'),
 (10254, 'Chop-suey Chinese'),
 (10255, 'Richter Supermarkt'),
 (10256, 'Wellington Importadora'),
 (10257, 'HILARIÓN-Abastos'),
 (10258, 'Ernst Handel'),
 (10259, 'Centro comercial Moctezuma'),
 (10260, 'Old World Delicatessen'),
 (10261, 'Que Delícia'),
 (10262, 'Rattlesnake Canyon Grocery'),
 (10263, 'Ernst Handel'),
 (10264, 'Folk och fä HB'),
 (10265, 'Blondel père et fils'),
 (10266, 'Wartian Herkku'),
 (10267, 'Frankenversand'),
 (10268, 'GROSELLA-Restaurante'),
 (10269, 'White Clover Markets'),
 (10270, 'Wartian Herkku'),
 (10271, 'Split Rail Beer & Ale'),
 (10272, 'Rattlesnake Canyon Grocery'),
 (10273, 'QUICK-Stop'),
 (10274, 'Vins et alcools Chevalier'),
 (10275, 'Magazzini Alimentari Riuniti'),
 (10276, 'Tortuga Restaurante'),
 (10277, 'Morgenstern Gesundkost'),
 (10278, 'Berglunds snabbköp'),
 (10279, 'Lehmanns Marktstand'),
 (10280, 'Berglunds snabbköp'),
 (10281, 'Romero y tomillo'),
 (10282, 'Romero y tomillo'),
 (10283, 'LILA-Supermercado'),
 (10284, 'Lehmanns Marktstand'),
 (10285, 'QUICK-Stop'),
 (10286, 'QUICK-Stop'),
 (10287, 'Ricardo Adocicados'),
 (10288, 'Reggiani Caseifici'),
 (10289, "B's Beverages"),
 (10290, 'Comércio Mineiro'),
 (10291, 'Que Delícia'),
 (10292, 'Tradição Hipermercados'),
 (10293, 'Tortuga Restaurante'),
 (10294, 'Rattlesnake Canyon Grocery'),
 (10295, 'Vins et alcools Chevalier'),
 (10296, 'LILA-Supermercado'),
 (10297, 'Blondel père et fils'),
 (10298, 'Hungry Owl All-Night Grocers'),
 (10299, 'Ricardo Adocicados'),
 (10300, 'Magazzini Alimentari Riuniti'),
 (10301, 'Die Wandernde Kuh'),
 (10302, 'Suprêmes délices'),
 (10303, 'Godos Cocina Típica'),
 (10304, 'Tortuga Restaurante'),
 (10305, 'Old World Delicatessen'),
 (10306, 'Romero y tomillo'),
 (10307, 'Lonesome Pine Restaurant'),
 (10308, 'Ana Trujillo Emparedados y helados'),
 (10309, 'Hungry Owl All-Night Grocers'),
 (10310, 'The Big Cheese'),
 (10311, 'Du monde entier'),
 (10312, 'Die Wandernde Kuh'),
 (10313, 'QUICK-Stop'),
 (10314, 'Rattlesnake Canyon Grocery'),
 (10315, 'Island Trading'),
 (10316, 'Rattlesnake Canyon Grocery'),
 (10317, 'Lonesome Pine Restaurant'),
 (10318, 'Island Trading'),
 (10319, 'Tortuga Restaurante'),
 (10320, 'Wartian Herkku'),
 (10321, 'Island Trading'),
 (10322, 'Pericles Comidas clásicas'),
 (10323, 'Königlich Essen'),
 (10324, 'Save-a-lot Markets'),
 (10325, 'Königlich Essen'),
 (10326, 'Bólido Comidas preparadas'),
 (10327, 'Folk och fä HB'),
 (10328, 'Furia Bacalhau e Frutos do Mar'),
 (10329, 'Split Rail Beer & Ale'),
 (10330, 'LILA-Supermercado'),
 (10331, "Bon app'"),
 (10332, 'Mère Paillarde'),
 (10333, 'Wartian Herkku'),
 (10334, 'Victuailles en stock'),
 (10335, 'Hungry Owl All-Night Grocers'),
 (10336, 'Princesa Isabel Vinhoss'),
 (10337, 'Frankenversand'),
 (10338, 'Old World Delicatessen'),
 (10339, 'Mère Paillarde'),
 (10340, "Bon app'"),
 (10341, 'Simons bistro'),
 (10342, 'Frankenversand'),
 (10343, 'Lehmanns Marktstand'),
 (10344, 'White Clover Markets'),
 (10345, 'QUICK-Stop'),
 (10346, 'Rattlesnake Canyon Grocery'),
 (10347, 'Familia Arquibaldo'),
 (10348, 'Die Wandernde Kuh'),
 (10349, 'Split Rail Beer & Ale'),
 (10350, "La maison d'Asie"),
 (10351, 'Ernst Handel'),
 (10352, 'Furia Bacalhau e Frutos do Mar'),
 (10353, 'Piccolo und mehr'),
 (10354, 'Pericles Comidas clásicas'),
 (10355, 'Around the Horn'),
 (10356, 'Die Wandernde Kuh'),
 (10357, 'LILA-Supermercado'),
 (10358, "La maison d'Asie"),
 (10359, 'Seven Seas Imports'),
 (10360, 'Blondel père et fils'),
 (10361, 'QUICK-Stop'),
 (10362, "Bon app'"),
 (10363, 'Drachenblut Delikatessend'),
 (10364, 'Eastern Connection'),
 (10365, 'Antonio Moreno Taquería'),
 (10366, 'Galería del gastrónomo'),
 (10367, 'Vaffeljernet'),
 (10368, 'Ernst Handel'),
 (10369, 'Split Rail Beer & Ale'),
 (10370, 'Chop-suey Chinese'),
 (10371, "La maison d'Asie"),
 (10372, 'Queen Cozinha'),
 (10373, 'Hungry Owl All-Night Grocers'),
 (10374, 'Wolski'),
 (10375, 'Hungry Coyote Import Store'),
 (10376, 'Mère Paillarde'),
 (10377, 'Seven Seas Imports'),
 (10378, 'Folk och fä HB'),
 (10379, 'Que Delícia'),
 (10380, 'Hungry Owl All-Night Grocers'),
 (10381, 'LILA-Supermercado'),
 (10382, 'Ernst Handel'),
 (10383, 'Around the Horn'),
 (10384, 'Berglunds snabbköp'),
 (10385, 'Split Rail Beer & Ale'),
 (10386, 'Familia Arquibaldo'),
 (10387, 'Santé Gourmet'),
 (10388, 'Seven Seas Imports'),
 (10389, 'Bottom-Dollar Marketse'),
 (10390, 'Ernst Handel'),
 (10391, 'Drachenblut Delikatessend'),
 (10392, 'Piccolo und mehr'),
 (10393, 'Save-a-lot Markets'),
 (10394, 'Hungry Coyote Import Store'),
 (10395, 'HILARIÓN-Abastos'),
 (10396, 'Frankenversand'),
 (10397, 'Princesa Isabel Vinhoss'),
 (10398, 'Save-a-lot Markets'),
 (10399, 'Vaffeljernet'),
 (10400, 'Eastern Connection'),
 (10401, 'Rattlesnake Canyon Grocery'),
 (10402, 'Ernst Handel'),
 (10403, 'Ernst Handel'),
 (10404, 'Magazzini Alimentari Riuniti'),
 (10405, 'LINO-Delicateses'),
 (10406, 'Queen Cozinha'),
 (10407, 'Ottilies Käseladen'),
 (10408, 'Folies gourmandes'),
 (10409, 'Océano Atlántico Ltda.'),
 (10410, 'Bottom-Dollar Marketse'),
 (10411, 'Bottom-Dollar Marketse'),
 (10412, 'Wartian Herkku'),
 (10413, "La maison d'Asie"),
 (10414, 'Familia Arquibaldo'),
 (10415, 'Hungry Coyote Import Store'),
 (10416, 'Wartian Herkku'),
 (10417, 'Simons bistro'),
 (10418, 'QUICK-Stop'),
 (10419, 'Richter Supermarkt'),
 (10420, 'Wellington Importadora'),
 (10421, 'Que Delícia'),
 (10422, 'Franchi S.p.A.'),
 (10423, 'Gourmet Lanchonetes'),
 (10424, 'Mère Paillarde'),
 (10425, "La maison d'Asie"),
 (10426, 'Galería del gastrónomo'),
 (10427, 'Piccolo und mehr'),
 (10428, 'Reggiani Caseifici'),
 (10429, 'Hungry Owl All-Night Grocers'),
 (10430, 'Ernst Handel'),
 (10431, 'Bottom-Dollar Marketse'),
 (10432, 'Split Rail Beer & Ale'),
 (10433, 'Princesa Isabel Vinhoss'),
 (10434, 'Folk och fä HB'),
 (10435, 'Consolidated Holdings'),
 (10436, 'Blondel père et fils'),
 (10437, 'Wartian Herkku'),
 (10438, 'Toms Spezialitäten'),
 (10439, 'Mère Paillarde'),
 (10440, 'Save-a-lot Markets'),
 (10441, 'Old World Delicatessen'),
 (10442, 'Ernst Handel'),
 (10443, 'Reggiani Caseifici')]

In [ ]:
#Evet sqlite bölümünün sonuna geldik. 
#Burada eele aldığımız konular sqli öğrenmeye yönelik idi.
#Sql'e bir giriş yapmış olduk.
#Bir iş yerine girdiğinizde genelde bir veri tabanı olur ve 
#size bu veri tabanına bağlanmak için gerekli yetkiler verilir.
#sonrasında veri tabanına bağlantı yapılarak sql işlemleri yapılır.

#bir önemli bilgi: veriyi mümkün oldugu kadar sql'de tutmaya ve bazı veri ön işleme
#işlemlerini sql kısmında yapmaya gayret gösterin.

#özellikle join işlemleri ve gözlemleri tekilleştirmek gibi işlemleri ve değişken üretme işlemlerini
#mümkün olduğu kadar sql ortamında halledip ondan sonra işlemek üzere python ya da r ortamlarına getirmeye 
#çalışın

Bir ek bilgi daha biz uygulamamız kapsamında ipython-sql i kullandık. 
sqlite3'i da kullanabiliriz veya başka araçlarda kullanılabilir bilginiz olsun.

Bazı kaynaklar:

https://www.techonthenet.com/sqlite/index.php

https://github.com/royalosyin/Practice-SQL-with-SQLite-and-Jupyter-Notebook

https://www.kaggle.com/dimarudov/data-analysis-using-sql

# SQL ALIŞTIRMALARI 1

SQL ALIŞTIRMALARI I


#1. orders tablosundan kaç müşteri oldugunu bulunuz?

select * from orders;

SELECT count(customer_id) FROM orders;

#2. order tablosundan kaç tane eşsiz müşteri olduğunu bulunuz.

SELECT count(distinct customer_id) FROM orders;

#3. customers tablosundan hangi ulkeden kacar tane musteri oldugunu bulunur. (count, group by)

SELECT count(customer_id), country FROM customers group by country;

#4. ulke-sehir kırılımında musteri sayısını bulunuz

SELECT count(customer_id), country, city FROM customers group by country, city;

#5. Musterilerin ülkesi brazil ya da usa olanlarını bulunuz.

select * from customers where country in ('Brazil', 'USA');

# SQL ALIŞTIRMALARI II

#6. Müşterilerin adres'inde herhangi bir yerde "da" ifadesi geçen tüm adresleri bulunuz.

select * from customers where address like '%da%' ;

#7. Almanya Berlinde yaşayan müşterilerin isimleri nelerdir?

select customer_name from customers where country = 'Germany' and city = 'Berlin';

#8 Kanada'da yaşayıp isimlerinde "in" ifadesi geçen kişileri bulunuz.

select customer_name from customers where customer_name like '%in%' and country = 'Canada';

#9 Fiyatı 40 tl ile 90 tl arasında olan ürünlerin isimleri ve fiyatlar nelerdir?

SELECT product_name, price FROM products where price <= 90 and price >=40;

#10 Fiyatı 30 TL'den büüyk olan ürünlerin isimleri, fiyatlari ve fiyatlarinin karesini bulunuz ve tüm değişkenlerin isimlendirmelerini şu şekilde yapiniz:

#urun ismi, urun_fiyati, ürün_fiyatinin_karesi

SELECT product_name as urun_ismi, price as urun_fiyati, price*price as urun_fiyatinin_karesi FROM products where price >= 30;

# SQL ALIŞTIRMALARI III



#11 Product tablosundaki category_id’lerin yani kategorilerin isimleri nelerdir? (products, categories)

SELECT * FROM products left join categories on products.category_id = categories.category_id;

#12 beverages urun kategorisindeki ürünlerin fiyat ortalaması nedir?

SELECT AVG(price) FROM products 
left join categories on products.category_id = categories.category_id 
where category_name= 'Beverages';

#13. USA'de yaşayan müşterilen kazandirdigi toplam miktarı bulunuz.

select SUM(p.price) from orders o 
left join order_details od on o.order_id = od.order_id
left join products p on od.product_id = p.product_id
left join customers cu on o.customer_id = cu.customer_id
where cu.country = 'USA' ;


#14 product tablosundaki category_id'lerin isimlerini bulunuz ve sonrasında kategori başına ortalama ürün fiyatını gösteriniz (price)

SELECT AVG(price), category_name FROM products left join categories on products.category_id = categories.category_id group by category_name;

#15Çalışanları (employee) yaptıkları toplam satışlara göre sıralayınız. order -> order_details -> products

select o.employee_id, SUM(p.price) toplam_satis  from orders o
left join order_details od on o.order_id = od.order_id 
left join products p on od.product_id = p.product_id
group by o.employee_id order by toplam_satis DESC;

# SQL ALIŞTIRMALARI VI







#16. bir onceki sorudaki employee_id'lerin yanına çalışanların isimlerini de ekleyiniz


select o.employee_id, em.first_name, SUM(p.price) toplam_satis from orders o
left join order_details od on o.order_id = od.order_id 
left join products p on od.product_id = p.product_id
left join employees em on o.employee_id = em.employee_id
group by o.employee_id, em.first_name order by toplam_satis DESC;

#17. almanya dan verilen siparislerin kategorilerine gore ortalama fiyatları nelerdir?

select ca.category_name, AVG(p.price)  from orders o
left join order_details od on o.order_id = od.order_id
left join products p on od.product_id = p.product_id
left join categories ca on p.category_id = ca.category_id
left join customers cu on o.customer_id = cu.customer_id
where cu.country = 'Germany'
group by category_name;


#18. Haziran temmuz ağustos aylarında verilen siparişlerin ortalama fiyatları nedir

SELECT AVG(products.price) FROM products 
left join order_details on order_details.product_id = products.product_id 
left join orders on order_details.order_id = orders.order_id 
WHERE order_date like '%07%' or order_date like '%08%' or order_date like '%09%';


#19 Müşterilerin 1997 yılına ait spiarişlerinin maksimum miktarlarını bulup müşterilerin isimleri ile birlikte buyukten kucuğe sıralayınız.
SELECT customer_name, MAX(price) maks FROM products 
left join order_details on products.product_id = order_details.product_id 
left join orders on order_details.order_id = orders.order_id
left join customers on customers.customer_id = orders.customer_id 
WHERE order_date like '%1997%' 
group by customer_name
order by maks DESC;

#20 1997 yılında çalışanları sipariş alma sayılarına göre sıralayınız

select count(*) n, em.first_name  from orders 
left join employees em on orders.employee_id = em.employee_id
WHERE order_date like '%1997%' 
group by em.first_name
ORDER by n DESC;

# ÖDEV

In [ ]:
#https://www.kaggle.com/hugomathien/soccer bu kaynaktaki veriyi indirip sqlite ortamına ekleyip. 
#İçerisindeki tüm tabloların betimsel istatistiklerini oluşturmanızı bekliyorum.
#artık çok daha iyi noktalarda olduğunuzu düşünüyorum. 
#Kendinizden parçalarda katabilirsiniz.